 html {
     background: lightgray;
 }

 ::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 10px !important;
     height: 10px;
     border: 0 !important;
     background: #e2e2e2;
 }

 ::-webkit-scrollbar-thumb {
     background: darkgray;
     border-left: 2px solid white;
 }

 ::-webkit-scrollbar-track {
     background: #e2e2e2;
     border-left: 2px solid white
 }

 ::-webkit-scrollbar-thumb:horizontal {
     border-top: 2px solid white;
     border-left: 0;
 }

 ::-webkit-scrollbar-track:horizontal {
     border-top: 2px solid white;
     border-left: 0;
 }

 .canvaslabel {
     text-align: center;
     font: bold 12px arial;
     margin: 50px auto 30px;
     text-transform: uppercase;
     letter-spacing: 1px;
 }

 .canvasrow {
     display: grid;
     grid-auto-flow: column;
     margin: auto;
     padding-right: 200px;
     width: min-content
 }



 .canvaslabel {
     text-align: center;
     font: bold 12px arial;
     margin: 50px auto 30px;
     text-transform: uppercase;
     letter-spacing: 1px;
 }

 .canvasrow .canvaslabel {
     margin-left: 100px;
     margin-right: 20px;
     width: 100px;
     text-align: left;
 }

 @media only screen and (max-width: 480px) {
     .canvasrow {
         display: block;
         width: 100%;
         padding-right: 0;
     }

     .canvasrow .canvaslabel {
         margin: 50px auto 30px;
         width: auto;
         text-align: center;
     }
 }