/*=============================================== *
* Jcink.com Forum Hosting Stylesheet
* ==============================================
* #Version:	1.0.2
*=============================================== */

form {
    display: inline;
}

/****************************************
Body Background & Text Style
*****************************************/

body {
    margin: 0;
    padding: 0;
}

/****************************************
Table Styles
*****************************************/

table,
tr,
td {
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

tbody>tr {
    padding: 12px 0;
}



/****************************************
Board Width
*****************************************/

#wrapper {
    text-align: left;
    width: 980px;
    margin: 20px auto 30px;
    background: #fbfbfb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

#innerwrapper {
    padding: 0 10px;
}





/****************************************
Profile styles 
*****************************************/

#profilename {
    font-size: 28px;
    font-weight: bold;
}

#photowrap {
    padding: 6px;
}

#phototitle {
    font-size: 24px;
    border-bottom: 1px solid black;
}

#photoimg {
    text-align: center;
    margin-top: 15px;
}

/****************************************
UserCP/My Controls styles
*****************************************/

#ucpmenu {
    /* ucp sidebar */
    width: 22%;
    border: 0.5px solid var(--border-2);
    padding: 0;

}


#ucpmenu .maintitle {
    /* ucp main headers */
    font: 700 var(--font-mono-13);
    letter-spacing: 10%;
    text-transform: uppercase;
    border: 0;
    border-bottom: 0.5px solid var(--border-2);
    color: hsl(var(--bodytext-2));
    padding: 12px calc(var(--boardInsetSides) / 2);
    margin-bottom: 24px;
    width: 100%;
}

#ucpcontent .maintitle {
    /* ucp main headers */
    font: 700 var(--font-mono-13);
    letter-spacing: 10%;
    text-transform: uppercase;
    border: 0.5px solid var(--border-2);
    padding: 12px calc(var(--boardInsetSides) / 2);
    color: hsl(var(--bodytext-2));
    margin-bottom: 12px;
    width: fit-content;
}

#ucpmenu .pformstrip {
    padding: 0 calc(var(--boardInsetSides) / 2);
}

.pformstrip,
#Msg form[name="REPLIER"] .pformstrip {
    /* ucp menu subheadings, headings in inbox, subscribed topics, compose message, etc */
    font: 600 var(--font-mono-13);
    letter-spacing: 5%;
    text-transform: uppercase;
    color: hsl(var(--accentBase-1)/0.5);
}


#ucpmenu p {
    /* ucp sidebar sections */

    margin: 8px 0 20px;
    font: 500 var(--font-serif-15);
    color: hsl(var(--bodytext-3));
    padding: 0 calc(var(--boardInsetSides) / 2);
}

#ucpmenu p a {
    /* ucp sidebar links */

    display: inline-block;
    margin-bottom: 0.25em;
}

#ucpmenu+td[style="padding:2px"] {
    display: none
}

#ucpcontent {
    width: auto;
    padding-top: 0;
    padding-left: var(--boardInsetSides);
    font: var(--font-serif-15);
    color: hsl(var(--bodytext-2));
}

#ucpcontent p {
    margin: 10px 0;
    padding: 0;
}


#ucpcontent form>table>tbody>tr:last-child td {
    /* ucp save button container */
    padding-top: 24px;
}

#ucpcontent .pformstrip input[type=submit] {
    /* ucp save button */
    font: 700 var(--font-mono-13);
    letter-spacing: 10%;
    text-transform: uppercase;
    color: hsl(var(--accentBase-2));
    width: fit-content;
    margin: 20px auto;
}


/****************************************
Logo Strip
*****************************************/

#logostrip {
    display: none;
}

#logo {
    min-height: 60px;
    text-align: left;
    margin-top: 5px;
    padding: 20px 20px 5px;
}


#logo a,
#logo a:hover {
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
    color: #800000;
}

/****************************************
Search Bar 
*****************************************/

#searchbar {
    display: block;
    float: right;
    position: relative;
    right: 10px;
    top: 8px;
}

#searchbar .search-container {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
    border: 1px solid #D8D8D8;
    display: block;
    height: 26px;
    position: relative;
    width: 200px;
}

#searchbar .search-input {
    background: none repeat scroll 0 0 transparent;
    border: 0;
    color: #808080;
    width: 192px;
    height: 26px;
    padding: 1px 0 0 8px;
}

#searchbar .search-input:focus {
    color: #000000;
}

#searchbar .search-button {
    background: #800000 url(//files.jcink.net/themes/default/magnifying-glass.png) no-repeat 50% 50%;
    border: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    display: block;
    height: 26px;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: -3000em;
    top: 0;
    width: 26px;
    cursor: pointer;
    box-shadow: none;
}

/****************************************
Search Pages, Last Click, Recent Topics and Posts
*****************************************/


#Search,
#Online {
    font: var(--font-serif-15);

    .sitebody {
        overflow-x: auto;
    }

    td.maintitle,
    #active-topics .maintitle,
    .tableborder:not(.active-posts) .maintitle {
        all: unset;
        display: table-cell;
        font: 400 var(--font-mixta-28);
        text-align: left;
        width: 100%;
        padding: 0 0 16px;
        color: hsl(var(--accentBase-2));
        border-bottom: 0.5px solid var(--border-2);

        /* match glowy */
        color: color-mix(in oklab, hsl(var(--accent-2)) 30%, hsl(var(--backgroundBlack)) 80%);
        filter: blur(1px);
        -webkit-text-stroke: 1px hsl(var(--accent-2));
        color: transparent;
        background: linear-gradient(to bottom, hsl(var(--accent-2)) 25%, hsl(var(--black) / 0) 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        background-clip: text;
    }

    .pformstrip {
        padding-top: 24px;
    }

    td td {
        padding: 0;
    }

    .tableborder {
        margin-top: 24px;
    }

    .row1 {
        padding: 16px 0;
    }
}



.tableborder:not(.active-posts) .maintitle {
    all: unset;
    display: block;
}


#active-topics .maintitle {
    border: 0 !important;
}

#active-topics .tablebasic>tbody>tr:first-child {
    border-top: 0.5px solid var(--border-2);
}

#active-topics .tablebasic>tbody>tr:not(:first-child) {
    border-bottom: 0.5px solid var(--border-2);
}


#active-topics a {
    color: hsl(var(--accentBase-2));
}

.active-posts .maintitle {
    all: unset;
    vertical-align: middle;
    display: inline-flex;
    align-items: baseline;
}


.active-posts .maintitle .linkthru {
    display: inline-block;
    padding: 0 0 16px;
    margin-left: 4px;
    filter: blur(0);
    -webkit-text-stroke: 0;

    /* match topic titles */
    font: 500 var(--font-mixta-28);
    background: linear-gradient(45deg, hsl(var(--accentBase-2)) 20%, hsl(var(--accentContrast)) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    text-fill-color: transparent;
    font-variant-ligatures: discretionary-ligatures;
    font-feature-settings: "dlig" 1;
}


.active-posts a,
#topic-summary a {
    color: hsl(var(--accentBase-2));
}

.active-posts .tablebasic {
    border: 0.5px solid var(--border-2);
}

#topic-summary table {
    border: 0.5px solid var(--border-2);
    margin: 20px 0;
}

.active-posts .tablebasic tr:first-child,
#topic-summary .post2 {
    padding: 1em 2ch;
    border-bottom: 0.5px solid var(--border-2);
    background: color-mix(in oklab, hsl(var(--accent-3) / .9) 10%, hsl(var(--backgroundBlack) / .9) 90%);
}

.active-posts .tablebasic tr:last-child {
    border-top: 0.5px solid var(--border-2);
}


.active-posts .row4,
.active-posts .post1,
#topic-summary .post2 {
    font: var(--font-serif-17);
    color: hsl(var(--bodytext-1));
    padding: 8px !important;
}


#topic-summary .post1 {
    display: table-cell;
    padding: 16px 8px 32px;
    border-bottom: 0.5px solid var(--border-2);
}

.active-posts .row4 a {
    font-weight: 600;
}

#topic-summary .post2 b {
    font-weight: 600;
    text-transform: capitalize;
}

.post1:first-child img,
.post1:first-child img+br {
    display: none
}

.post1:first-child {
    /* search results views replies column */
    font: var(--font-mono-13);
    width: 120px;
    display: block;
}

#post-preview .postcolor {
    font: var(--font-serif-17);
    border-top: 0.5px solid var(--border-2);
    padding: 32px 0;
}



/****************************************
Navigation Bar / Submenu
*****************************************/

#submenu {
    font-size: 13px;
    border: solid #555;
    border-width: 1px 0;
    background-color: #800000;
    background-image: url(//files.jcink.net/themes/default/red-gradient-glass.png);
    background-position: center center;
    margin-bottom: 3px;
}

#submenu img {
    display: none;
}

#submenu a:link,
#submenu a:visited,
#submenu a:active {
    text-decoration: none;
    color: #fff !important;
    padding: 7px 7px;
    font-weight: bold;
}

#submenu a:hover {
    color: #fff !important;
    text-decoration: underline;
}

#navi br {
    display: none;
}

#navstrip {}

/****************************************
Calendar styling
*****************************************/

.caldate {
    text-align: right;
    font-weight: bold;
    font-size: 11px;
    color: #555;
    background-color: #F2F2F2;
    padding: 4px;
    margin: 0px;
}

#calendarname {
    font-size: 22px;
    font-weight: bold;
}

#padandcenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 14px 0px 14px 0px;
}


/**************************************************
User Links Menu (Messages / View new posts / etc )
***************************************************/

#userlinks {
    border: 1px solid #545454;
    background-color: #F2F2F2;
    list-style: none;
    width: 960px;
    margin: 0 auto;
    background-image: url(//files.jcink.net/themes/default/white-gradient.png);
}

#userlinks td {
    color: #333;
}

#userlinks a {
    text-decoration: underline;
    padding: 1px;
}

#userlinks a:hover {
    text-decoration: none;
}


/****************************************
Topic View styles
*****************************************/

form[name="mod_topics"]>b {
    font-weight: 500;
    font-style: italic;
    color: hsl(var(--bodytext-2));
    border: 1px solid hsl(var(--accentBase-4)/.5);
    padding: 24px clamp(var(--boardInsetSides), 20vw, 300px);
    width: 100%;
    display: block;
    text-align: center;
}


.activeuserstrip {
    font: var(--font-mono-14);
    padding: 8px 0;
}

.postrow+.activeuserstrip {
    margin-top: -40px;
}

.row2+.activeuserstrip {
    margin: 24px 0 0;
    padding: 16px 0;
    border: 0.5px solid var(--border-2);
}

.activeuserstrip a {
    color: hsl(var(--accentContrast));
    opacity: .75;
}

.normalname {
    /* search results username */
    text-transform: capitalize;
}

.normalname a {
    color: hsl(var(--accentBase-2));
}

.unreg {
    font-size: 11px;
    font-weight: bold;
    color: #900;
}

.post1 {
    /* search results */
}

.post2 {
    background-color: #F2F2F2;
}

.postdetails {}

.postcolor {}

.postlinksbar {
    font: 300 var(--font-mono-13);
    color: hsl(var(--bodytext-3));
    gap: 1ch;
    margin: 3em 0 1.5em;
}

.signature {
    font-size: 10px;
    color: #339;
    line-height: 150%;
}

.quick-edit {
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}

.quick-edit .editor {
    margin-bottom: 1rem !important;
}

.quick-edit .buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.quick-edit .right-buttons input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 40px !important;
    background: hsl(var(--bodytext-3) / .05);
    border: 1px solid hsl(var(--bodytext-3) / .25);
    border-radius: 2px;
    color: hsl(var(--accent-2));
}

.edit {
    font-size: 14px !important;
}


/*******************************
Pagination e.g. [1],2,3 ...
*******************************/

.pagination {
    font-size: 0;
    color: hsl(var(--bodytext-3));
}

.pagination_pagetxt {
    display: none;
}

.pagination>*,
.goto-firstunread {
    margin-right: 1ch;
    font: 600 var(--font-mono-13);
    letter-spacing: 1%;
}

.pagination_current,
.pagination_page {
    display: inline-block;
    padding: 0.5em 1ch;
    background: hsl(var(--black));
    border: 0.5px solid hsl(var(--accentBase-4)/ 0.75);
    border-radius: 2px;
}

.pagination_current {
    background: hsl(var(--backgroundHTML) / 1);
    border: 0.5px solid var(--border-2);
    color: hsl(var(--accentBase-1));
}

.pagination_last {
    margin-left: 1ch;
}

.goto-firstunread {
    color: hsl(var(--bodytext-3));
}

/****************************************
Global general table/div row styles
*****************************************/

.row4 {
    /* copyright, alert settings */
}

.row1,
.row3,
.row4,
.row2 {
    text-align: left;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row1 {
    /* Inbox message list */
    padding: 8px 0;
}

.row2 {
    /* username change */
}

#ST .row2 {
    /* Post viewers */
    font: var(--font-mono-14);
}


#boardstats .row2 {
    text-align: center;
}

.darkrow1 {
    /* online list */
}

.darkrow2 {
    background-color: #D6D6D6;
    color: black;
}

td.darkrow2 {
    display: none;
}

.darkrow3 {
    background-color: #D6D6D6;
    color: #000;
    padding: 3px;
}

.hlight {
    background-color: #EFEFEF;
}

.dlight {
    /* inbox message rows */
}

/****************************************
Top table bars / gradient holders 
*****************************************/

.maintitle {
    /* headers for ucp, thread titles, topic options, fast reply, moving topics */
    font: 700 var(--font-mono-13);
    letter-spacing: 10%;
    text-transform: uppercase;
    border: 0.5px solid var(--border-2);
    color: hsl(var(--bodytext-2));
    padding: 12px calc(var(--boardInsetSides) / 2);
    margin-bottom: 24px;
}


.maintitle a:link,
.maintitle a:visited,
.maintitle a:active {}

.maintitle a:hover {}

#Mod .maintitle {
    width: fit-content;
}

/****************************************
Bar directly below the maintitles 
*****************************************/

.titlemedium {
    font: 600 var(--font-mono-12);
    letter-spacing: 5%;
    text-transform: uppercase;
    color: hsl(var(--accentBase-1) / 0.5);
    margin: 0px;
    padding: 8px 8px 8px 0;
    text-align: left;
}

tr:not(:last-child) .titlemedium {
    border-bottom: 0.5px solid var(--border-2);
}

tbody tr:last-child>.titlemedium {
    border-top: 0.5px solid var(--border-2);
}

.titlemedium a:link,
.titlemedium a:visited,
.titlemedium a:active {
    text-decoration: none;
}



/****************************************
Table & Div Borders 
*****************************************/

.tableborder {}

.tablefill {
    border: 1px solid green;
    padding: 6px;
}

.tablepad {
    /* topic options */
    margin: 16px 0 24px;
    padding: 0 0 0 14px;
    border-left: 0.5px solid var(--border-2);
}

.tablebasic {
    width: 100%;
    padding: 0;
    margin: 0px;
    border: 0px;
}

.plainborder {
    border: 1px solid red;
}


/****************************************
Thread options
*****************************************/


.threadfunctions {
    margin: 1em 0 2em;
}


#ST td {
    padding: 0;
    display: block;
    width: fit-content;
}


.bar {
    /* thread moderation options */
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.threadfunctions tr {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.threadfunctions td {
    width: 100%;
    display: block;
}

#topic_open .maintitle a {
    font-weight: 700;
    color: hsl(var(--accentContrast));
    margin-left: -0.25ch;
}

.tablepad a {
    color: hsl(var(--accentContrast));
}

/****************************************
QUOTE and CODE BBCode boxes
*****************************************/

#QUOTE {
    white-space: normal;
    width: calc(100% - 4 * (var(--boardInsetSides)));
    margin: 2rem auto !important;
    border: 0.5px solid var(--border-2);
}

#QUOTE-WRAP tr:first-child {
    font: 500 var(--font-mono-14);
}

#QUOTE-WRAP tr:first-child b {
    font: 700 var(--font-serif-14);
    text-transform: uppercase;
    letter-spacing: 10%;
    color: hsl(var(--accent-2));
}

#CODE-WRAP {
    width: calc(100% - 4*(var(--boardInsetSides)));
    margin: 2rem auto !important;
    border: 0.5px solid var(--border-2);
}

#CODE-WRAP td {
    width: 100%;
    padding: 0;
}

.code-top {
    background: hsl(var(--accent-3) / 0.5);
    border: 3px solid hsl(var(--base2));
    box-shadow: 0 0 0 0.5px var(--border-2);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1em calc(var(--boardInsetSides)/2);
    font: 700 var(--font-serif-14);
    text-transform: uppercase;
    letter-spacing: 10%;
    color: hsl(var(--accent-2));
}

.code-highlight {
    cursor: pointer;
    font: var(--font-mono-12);
    color: hsl(var(--accent-2)/0.75);
}

td#CODE {
    padding: 1.5em calc(var(--boardInsetSides)/2);
    font: var(--font-mono-14);
    line-height: 1.75;
}

.code-scroll {
    white-space: pre-line;
    max-height: 100px;
    overflow: auto;
}

/**********************************************
Input buttons, e.g. submit, text input, etc
***********************************************/


.pagelinks+div[align="right"] {
    width: 50vw !important;
}

fieldset.search {
    border-color: var(--border-2);
    border-width: 0.5px;
}

.button-large {
    display: inline-block;
    margin-left: 1.5ch;
    font: 600 var(--font-mixta-20);
    color: hsl(var(--accentBase-1));
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.5em;
    text-decoration-color: var(--border-2);
    width: fit-content;
    z-index: 1;
    color: hsl(var(--accentContrast));
}

td[align="left"] .button-large {
    margin-right: 1.5ch;
    margin-left: 0;
}

.button-small {}

.post-buttons-top {
    margin-top: 3px;
}

.button-large.closed {
    text-decoration: none;
}

.forminput,
.codebuttons,
.textinput,
.formatbuttons {
    border-radius: 0;
    vertical-align: middle;
    min-height: 40px;
    padding: 8px 12px;
    margin: 0;
    background: hsl(var(--bodytext-3) / .05);
    border: 1px solid hsl(var(--bodytext-3) / .25);
    border-radius: 2px;
    font: 400 var(--font-mono-13);
    color: hsl(var(--white));
}

.forminput {
    white-space: nowrap;
}

.forminput::webkit-scrollbar {
    display;
    none;
}

input[type=checkbox].forminput {
    min-height: unset;
}

.radiobutton,
checkbox {
    margin: 8px 4px;
}

.quick-edit .textinput {
    font: 400 var(--font-serif-16);
}

input::placeholder {
    color: hsl(var(--white)/.75);
}

input[type=submit],
input[type=button],
input[type=reset] {
    cursor: pointer;
    padding: 0 2ch;
    font: 700 var(--font-mono-13);
    letter-spacing: 10%;
    text-transform: uppercase;
    color: hsl(var(--accent-2));
}

.codebuttons {
    /* posting form buttons */
}

.codebuttons input.row1 {
    width: unset;
}

.right-buttons {
    float: right;
    display: flex;
    align-items: center;
    gap: 12px;
}

/****************************************
Form table cell styles, left/right/top
*****************************************/

.pformleft {}

.pformleftw {
    /* topic moderation */
}

.pformright {}


/****************************************
Tabs on the portal profiles + sections
*****************************************/

.opentab {
    color: #FFF;
    padding: 8px;
    float: left;
    width: auto;
    background-color: #800000;
    background-image: url(//files.jcink.net/themes/default/red-gradient.png);
    margin-top: 3px;
    margin-right: 2px;
    font-size: 11px;
    border: #545454 1px solid;
}

.closedtab {
    color: #FFF;
    padding: 7px;
    float: left;
    width: auto;
    background-color: #800000;
    background-image: url(//files.jcink.net/themes/default/red-gradient.png);
    margin-top: 6px;
    margin-right: 2px;
    font-size: 11px;
    border-top: #545454 1px solid;
    border-right: #545454 1px solid;
    border-left: #545454 1px solid;
}

.positiontab {
    height: 34px;
    margin-left: 2px;
}

/****************************************
Delete all cookies / mark read
*****************************************/

#delcookiesrow,
#mark-as-read-subto {
    display: none;
    color: hsl(var(--bodytext-3));
}

#mark-as-read-subto {
    float: none;
    padding-top: 3px;
}


/*******************************
    Board Statistics Links
*******************************/

.toplinks a {
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
}

.toplinks {
    margin: 0 11px -37px 0;
    text-align: right;
    color: transparent;
}

/*******************************
Mini Profile Seperators
*******************************/

.postbit {
    border-bottom: solid 1px #C0C0C0;
    color: black;
    background: #EFEFEF;
    font-size: 11px;
    padding: 6px 7px;
}

/********************************
Miscellaneous
********************************/

/* image tag styles */
img {
    vertical-align: middle;
    border: 0px
}

img.attach {
    border: 2px outset #555;
    padding: 2px
}


/* Forum Descriptions, topic options descs */
.desc {}

/* Edited by text */
.edit {
    font-size: 9px
}

/* Topic Macros */

.wrapmini {
    float: left;
    display: none;
}

/* Warning CSS */
.warngood {
    color: green
}

.warnbad {
    color: red
}

/* Skin selector dropdown */
#skin_selector {}


/* Online users list row */
.thin {
    padding: 6px 0px 6px 0px;
    line-height: 140%;
    margin: 2px 0px 2px 0px;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
}

/* Latest news area */
.newstext {
    display: none;
}

/* Highlighted text in search */
.searchlite {
    color: #F00;
    font-weight: bold;
    background-color: #FF0;
}

/****************************************
Mobile-specific Styles
*****************************************/

#mobile {
    background-color: #FBFBFB;
}

/***********************************
Copyright: Removal is against Terms
************************************/

.copyright {
    font: var(--font-serif-14);
    color: hsl(var(--bodytext-2));
    margin-top: 64px;
    padding: 16px 0;
    border-top: 0.5px solid var(--border-2);
    text-align: right;
}


/***********************************
CUSTOM
************************************/


tr#field-birthday,
tr#field-website,
tr#field-location,
tr#field-interests {
    display: none;
}


.tl-footer .darkrow2 {
    font: var(--font-mono-14);
    text-align: left;
    margin: 1em 0 0;
}



#field-birthday~tr,
#field-birthday~tr td {
    padding: 0;
}

#ucpcontent table,
#ucpcontent tr,
#ucpcontent td {}

#UserCP pformstrip+table>tbody {
    display: grid;
}

#UserCP form>.pformstrip:first-of-type {
    display: none;
}


#ucpcontent table {
    /*    width: 100% !important;
max-width: 100% !important;
table-layout: fixed !important; */
    border: 0;
}

.userCP-section-header+tr>td {
    display: block;
}

div.ucp-section-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
    gap: 36px 16px;
    padding: 0 0 var(--boardInsetSides);
    width: 100% !important;
}

div.ucp-section-container.is-collapsed {
    display: none !important;
}


div.ucp-section-container tr[id*="field_"] {
    display: grid;
    grid-template:
        'fieldinfo' 'fieldcontent' / 1fr;
    gap: 1em 2em;
    align-content: space-between;

    padding: 0;
    border: 0;
    /* grid-column: span 2; */
}

tr.userCP-section-header {
    width: 100% !important;
    cursor: pointer;
    user-select: none;
    display: block;
}

.userCP-section-header td {
    font: 600 var(--font-mixta-28);
    color: hsl(var(--accent-2));
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 16px 0 !important;
}

.userCP-section-header span {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
}

.userCP-section-header span::after {
    content: '';
    display: block;
    flex: 1;
    border-top: 0.5px solid var(--border-2);
}

div.ucp-section-container tr#field_1,
div.ucp-section-container tr#field_10,
div.ucp-section-container tr#field_19,
div.ucp-section-container tr#field_20,
div.ucp-section-container tr#field_24,
div.ucp-section-container tr#field_25,
div.ucp-section-container tr#field_26 {
    grid-column: 1 / -1 !important;
}

.death_counter-container {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}

div.ucp-section-container tr#field_27 .pformright {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stability_preview-number,
.death_counter-value {
    font-size: 32px;
    font-weight: 400;
    color: hsl(var(--accent-2));
    min-width: 4ch;
    text-align: left;
}

.death_counter-value {
    min-width: 2ch;
    text-align: center;
}

.death_counter-value::before {
    content: "Died "
}

.death_counter-value::after {
    content: " time(s)"
}

.death_counter-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 40px;
    background: hsl(var(--bodytext-3) / .05);
    border: 1px solid hsl(var(--bodytext-3) / .25);
    border-radius: 2px;
    color: hsl(var(--accentBase-2));
}

.stability_preview .ph {
    font-size: 56px;
    display: block;
    background: linear-gradient(to right, hsl(var(--accent-2)) var(--stability-percentage), hsl(var(--white)/.25) var(--stability-percentage));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.forminput#field_27_input {
    border: 0;
    padding: 0;
}

.stability_preview~input[type="range"]:disabled,
.disabled .death_counter-btn {
    cursor: not-allowed;
    display: none;
}


#ucpcontent #field-birthday~tr .pformleft {
    width: 100%;
    font: 500 var(--font-serif-15);
    color: hsl(var(--bodytext-1)/.625);
}

#ucpcontent .pformleft label {
    font: 500 var(--font-serif-15);
    color: hsl(var(--bodytext-3));
    display: block;
    margin-bottom: 0.25em;
}

#ucpcontent .pformleft label+br {
    display: none;
}

#field-birthday~tr .forminput,
#field-birthday~tr textarea.forminput,
#field-birthday~tr select.forminput {
    width: 100%;
    font: var(--font-serif-15);
    margin-top: 0;
}

tr[id*="field_"] .forminput {
    height: 44px;
}

:where(tr#field_19, tr#field_24) .forminput {
    height: 200px !important;
}

.userCP-section-header .ph-caret-down {
    display: none;
}

.userCP-section-header .ph-caret-up {
    display: block;
}

.userCP-section-header.is-collapsed .ph-caret-down {
    display: block;
}

.userCP-section-header.is-collapsed .ph-caret-up {
    display: none;
}





@media only screen and (max-width: 760px) {

    #UserCP .sitebody--inset>table>tbody>tr {
        display: grid;
        grid-template:
            'header' auto
            'body' / 1fr;
    }

    #ucpmenu .maintitle {
        grid-column: span 8;
        display: none;
    }

    #ucpmenu {
        grid-area: header;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        gap: 0 32px;
        overflow: auto;
        grid-template-rows: auto auto;
        grid-auto-columns: 200px;
        padding: var(--boardInsetSides);
    }

    #ucpmenu p {
        margin-bottom: 0;
    }

    #ucpcontent {
        grid-area: body;
        padding: 32px 0 0;
    }

    div.ucp-section-container {
        grid-template-columns: 1fr !important;
        gap: 24px;
        padding-bottom: 32px;
    }

    div.ucp-section-container tr[id*="field_"] {}

    #UserCP .pformstrip+table td {
        display: block;
    }


    .death_counter-container {
        padding-bottom: 0;
    }

}















/****************************************
Posting Form
*****************************************/

#Post .maintitle {
    all: unset;
    display: table-cell;
    padding: 0 calc(var(--boardInsetSides) / 2);
    font: 600 var(--font-mixta-28);
    color: hsl(var(--accent-2));
    text-transform: none;
    letter-spacing: 0;
    grid-column: 1 / -1 !important;
}

#Msg .tableborder,
#ucpcontent form .tableborder,
.pformstrip+br+.tableborder,
.pformstrip+p+div .tableborder {
    border: 0.5px solid var(--border-2);
    margin-top: 8px;
}


#ucpcontent .maintitle+script+.pformstrip,
#ucpcontent .pformstrip:first-of-type,
#ucpcontent .maintitle+.pformstrip {
    /* headings of various ucp subpages */
    font: 600 var(--font-mixta-28);
    color: hsl(var(--accent-2));
    text-transform: none;
    letter-spacing: 0;
    margin: 16px 0 0 !important;
}

.maintitle+script+.pformstrip span {
    font: var(--font-serif-16);
    color: hsl(var(--bodytext-1));
}

.ucptable td[align="right"] a,
.maintitle+script+.pformstrip span a {
    color: hsl(var(--accentContrast));
    font-weight: 500;
}



#topic-settings-header .pformstrip,
#enter-your-post-header .pformstrip,
#code-buttons-header .pformstrip,
#upload-files .pformstrip,
#post-as-header .pformstrip,
#post-as .pformstrip {}



#posting-form {
    border: 0.5px solid var(--border-2);
    background: linear-gradient(to bottom, hsl(var(--accent-2) / .2) 0%, hsl(var(--accent-2)/0) 30%);
}

#posting-form tr {
    display: grid;
    grid-template-columns: 25% 2fr;
    align-items: flex-start;
    gap: 0;
    border-bottom: 1px solid var(--border);
}



#posting-form tr[id*="header"] {
    border-top: 0.5px solid var(--border-2);
}

#posting-form .pformstrip {
    grid-column: 1 / -1;
}

#posting-form tr:last-child .pformstrip {
    padding-bottom: 24px;
}

#posting-form td {
    padding: 0 calc(var(--boardInsetSides) / 2);
}

#posting-form a {
    color: hsl(var(--accent-2));
}

#enter-your-post .desc {
    font: var(--font-serif-14);
    text-align: left;
    padding-top: 1rem;
}

#enter-your-post .textinput {
    width: clamp(100px, calc(100% - 30px), 700px);
    font: var(--font-serif-17);
}

#enter-your-post br {
    display: none;
}

#bbcode-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 14px 0;
}

#bbcode-buttons+br {
    display: none;
}

#post-icon-options {
    display: none !important;
}

#emoji-table {
    display: none;
}

#upload-files br {
    display: none;
}

#bbcode-buttons input,
#bbcode-buttons select,
form[name="REPLIER"] input[name="button"],
.formatbuttons {
    min-height: unset;
    height: 28px;
    padding: 0 4px;
    margin-bottom: 8px;
    margin-right: 6px;
}

#bbcode-buttons select {}


input:not[type="range"] {
    background: hsl(var(--backgroundBlack)/0.5);
    color: hsl(var(--bodytext-2));
}

input[name="tagcount"],
input[name="helpbox"] {
    font-size: 12px !important;
    padding: .5em .75em !important;
}

td.right a {
    display: inline-block;
}

#smilies-table {
    display: none;
}

#editpost_custombuttons {
    font: var(--font-serif-14);
    text-align: left;
}

#topic_open+br+.bar>div:first-child {
    z-index: 5;
}

input[type=button].formatbuttons {
    min-height: unset;
    height: 24px;
    padding: 0 6px;
}

@media only screen and (max-width: 760px) {

    .bar {
        flex-direction: column;
        align-items: flex-end;
    }

    #Msg table,
    #Msg :where(thead, tbody, tr),
    #posting-form,
    #store table,
    #store :where(thead, tbody, tr),
    .threadfunctions,
    .threadfunctions :where(td) {
        display: block;
    }

    #posting-form tr {
        grid-template-columns: 1fr;
    }

    #posting-form td {
        display: block;
    }

    #store #ucpcontent td {
        display: table-cell;
    }

    .pformleft {
        border-bottom: 0;
        padding-bottom: 0;
    }

    #ucpcontent input[type="text" i],
    #ucpcontent textarea,
    #posting-form input[type="text" i],
    #posting-form textarea,
    #qr_open textarea {
        width: 100%;
    }

    #enter-your-post .textinput {
        width: 100%;
        margin-top: 20px;
    }

    #posting-form .pformleft {
        width: 100%;
    }

    .store-menu>.row4 {
        display: none;
    }

    .threadfunctions td {
        width: calc(100vw - 24px) !important;
    }

    .threadfunctions td:first-of-type {
        margin-bottom: 20px;
    }

    /* Registration page styling for mobile */
    #Reg .tablepad {
        padding: 0;
    }

    #Reg tbody tr {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        line-height: 150%;
    }

    #Reg fieldset table tr {
        flex-flow: row nowrap;
    }

    #Reg fieldset table tr td {
        display: flex;
    }

    #Reg fieldset table tr td input {
        width: 100%;
    }

    #Reg td,
    #Reg select {
        width: 100% !important;
    }

    #Reg fieldset {
        box-sizing: border-box;
        border: 0px;
        border-bottom: 1px solid;
    }

    #Reg td[width='12'] {
        display: none;
    }
}