  #delcookiesrow {
      display: none;
      color: hsl(var(--accentBase-3));
  }

  .tl-footer .darkrow2 {
      font: var(--font-mono-14);
      text-align: left;
      margin: 1em 0 0;
  }

  .forminput,
  .codebuttons,
  .textinput {
      border-radius: 0;
      vertical-align: middle;
      min-height: 32px;
      padding: 0 .5em;
      margin: 0;
      background: hsl(var(--backgroundHTML) / .5);
      border: 1px solid var(--border-3);
      border-radius: 2px;
      font: 400 var(--font-mono-13);
      color: hsl(var(--white));
  }

  .threadfunctions tr {
      display: block;
  }

  .threadfunctions td {
      width: 100%;
      display: block;
  }