<!DOCTYPE html>

<head>
   <link href="../css-templates.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <link href="//solrainha.github.io/honeybee/honeybee.css" rel="stylesheet">
   <script src="https://kit.fontawesome.com/1fd11fd820.js" crossorigin="anonymous"></script>
</head>

<link href="blobular.css" rel="stylesheet">


<div class="canvasrow">

   <!-- Square image -->
   <canvaslabel>Bubble - square image (250x250)</canvaslabel>

   <div class="blobular" style="--charimg:url(../assets/200x200-silverash-01.jpg)">
      <div class="blobularinner">
         <div class="blob-blobs">
            <div class="blob--1"> </div>
            <div class="blob--2"> </div>
         </div>

         <div class="blob-body">
            <h1>walking on the bridge I shouldn't have crossed</h1>
            <div class="blob--tags">
               <a href="#">tagged</a> + <a href="#">tagged</a>
            </div>

            <div class="blob--text">
               Tempus porttitor vestibulum mi vel condimentum senectus. Vitae aenean vulputate a posuere. Neque, aenean elementum massa duis et. Faucibus feugiat enim velit imperdiet consequat scelerisque pellentesque mauris. Lobortis cum sapien vestibulum vitae enim. Porttitor justo, ac turpis vulputate nulla fermentum, sed curabitur. Mauris sit quam sit eget est nibh quisque. <br><br>

               <b>"This is bold."</b><br> <a href="">This is linked.</a>

               <p>Scelerisque in in malesuada ante elementum amet quis. Mauris tincidunt molestie feugiat eu turpis sed facilisis semper. Lectus ut feugiat aliquet nibh. Ut vitae mauris elementum tempus quisque velit metus. Sed sagittis, a dolor eget turpis ornare vitae vivamus scelerisque. Sed elit dolor morbi aliquam malesuada scelerisque id. Mauris magna leo ullamcorper suspendisse id lorem mauris eleifend. Hac ipsum aliquam posuere risus nibh egestas et viverra. Quis ultrices id in feugiat. Vestibulum volutpat ornare lectus sociis turpis.</p>
               <p>
                  <!-- Venenatis, pharetra, ullamcorper ipsum nunc, viverra sagittis, at lacinia sapien. Orci, vulputate vel mi et, velit. Fermentum tortor pulvinar massa lacinia etiam. Lobortis lectus consectetur tincidunt mauris. A nullam eu iaculis dignissim -->
               </p>

               <div class="blob--notes"><b>Notes</b> get bacon</div>

            </div>
            <div class="blob--footer"> </div>
         </div>
      </div>
      <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
   </div>



   <!-- Horizontal image -->
   <canvaslabel>Goop - horizontal image (380x265)</canvaslabel>

   <div class="blobular goop" style="--charimg: url(https://pbs.twimg.com/media/EYal0OMU4AA-v_f?format=jpg&name=medium)">
      <div class="blobularinner">
         <div class="blob-blobs">
            <div class="blob--2"> </div>
         </div>

         <div class="blob-body">
            <h1>could run from it all but I'd only get lost</h1>
            <div class="blob--tags">
               <a href="#">tagged</a> + <a href="#">tagged</a>
            </div>

            <div class="blob--text">
               Tempus porttitor vestibulum mi vel condimentum senectus. Vitae aenean vulputate a posuere. Neque, aenean elementum massa duis et. Faucibus feugiat enim velit imperdiet consequat scelerisque pellentesque mauris. Lobortis cum sapien vestibulum vitae enim. Porttitor justo, ac turpis vulputate nulla fermentum, sed curabitur. Mauris sit quam sit eget est nibh quisque. <br><br>

               <b>"This is bold."</b><br> <a href="">This is linked.</a>

               <p>Scelerisque in in malesuada ante elementum amet quis. Mauris tincidunt molestie feugiat eu turpis sed facilisis semper. Lectus ut feugiat aliquet nibh. Ut vitae mauris elementum tempus quisque velit metus. Sed sagittis, a dolor eget turpis ornare vitae vivamus scelerisque. Sed elit dolor morbi aliquam malesuada scelerisque id. Mauris magna leo ullamcorper suspendisse id lorem mauris eleifend. Hac ipsum aliquam posuere risus nibh egestas et viverra. Quis ultrices id in feugiat. Vestibulum volutpat ornare lectus sociis turpis.</p>
               <p>
                  <!-- Venenatis, pharetra, ullamcorper ipsum nunc, viverra sagittis, at lacinia sapien. Orci, vulputate vel mi et, velit. Fermentum tortor pulvinar massa lacinia etiam. Lobortis lectus consectetur tincidunt mauris. A nullam eu iaculis dignissim -->
               </p>

               <div class="blob--notes"><b>Notes</b> get bacon</div>

            </div>
            <div class="blob--footer"> </div>
         </div>
      </div>
      <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
   </div>





   <!-- Square image -->
   <canvaslabel>Bubble - no image</canvaslabel>

   <div class="blobular" style="--charimg:">
      <div class="blobularinner">
         <div class="blob-blobs">
            <div class="blob--1"> </div>
            <div class="blob--2"> </div>
         </div>

         <div class="blob-body">
            <h1 class="resize">walking on the bridge I shouldn't have crossed</h1>
            <div class="blob--tags">
               <a href="#">tagged</a> + <a href="#">tagged</a>
            </div>

            <div class="blob--text">
               Tempus porttitor vestibulum mi vel condimentum senectus. Vitae aenean vulputate a posuere. Neque, aenean elementum massa duis et. Faucibus feugiat enim velit imperdiet consequat scelerisque pellentesque mauris. Lobortis cum sapien vestibulum vitae enim. Porttitor justo, ac turpis vulputate nulla fermentum, sed curabitur. Mauris sit quam sit eget est nibh quisque. <br><br>

               <b>"This is bold."</b><br> <a href="">This is linked.</a>

               <p>Scelerisque in in malesuada ante elementum amet quis. Mauris tincidunt molestie feugiat eu turpis sed facilisis semper. Lectus ut feugiat aliquet nibh. Ut vitae mauris elementum tempus quisque velit metus. Sed sagittis, a dolor eget turpis ornare vitae vivamus scelerisque. Sed elit dolor morbi aliquam malesuada scelerisque id. Mauris magna leo ullamcorper suspendisse id lorem mauris eleifend. Hac ipsum aliquam posuere risus nibh egestas et viverra. Quis ultrices id in feugiat. Vestibulum volutpat ornare lectus sociis turpis.</p>
               <p>
                  Venenatis, pharetra, ullamcorper ipsum nunc, viverra sagittis, at lacinia sapien. Orci, vulputate vel mi et, velit. Fermentum tortor pulvinar massa lacinia etiam. Lobortis lectus consectetur tincidunt mauris. A nullam eu iaculis dignissim
               </p>

               <div class="blob--notes"><b>Notes</b> get bacon</div>

            </div>
            <div class="blob--footer"> </div>
         </div>
      </div>
      <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
   </div>



   <!-- Horizontal image -->
   <canvaslabel>Goop - no image</canvaslabel>

   <div class="blobular goop">
      <div class=" blobularinner">
         <div class="blob-blobs">
            <div class="blob--2"> </div>
         </div>

         <div class="blob-body">
            <h1>could run from it all but I'd only get lost</h1>
            <div class="blob--tags">
               <a href="#">tagged</a> + <a href="#">tagged</a>
            </div>

            <div class="blob--text">
               Tempus porttitor vestibulum mi vel condimentum senectus. Vitae aenean vulputate a posuere. Neque, aenean elementum massa duis et. Faucibus feugiat enim velit imperdiet consequat scelerisque pellentesque mauris. Lobortis cum sapien vestibulum vitae enim. Porttitor justo, ac turpis vulputate nulla fermentum, sed curabitur. Mauris sit quam sit eget est nibh quisque. <br><br>

               <b>"This is bold."</b><br> <a href="">This is linked.</a>

               <p>Scelerisque in in malesuada ante elementum amet quis. Mauris tincidunt molestie feugiat eu turpis sed facilisis semper. Lectus ut feugiat aliquet nibh. Ut vitae mauris elementum tempus quisque velit metus. Sed sagittis, a dolor eget turpis ornare vitae vivamus scelerisque. Sed elit dolor morbi aliquam malesuada scelerisque id. Mauris magna leo ullamcorper suspendisse id lorem mauris eleifend. Hac ipsum aliquam posuere risus nibh egestas et viverra. Quis ultrices id in feugiat. Vestibulum volutpat ornare lectus sociis turpis.</p>
               <p>
                  Venenatis, pharetra, ullamcorper ipsum nunc, viverra sagittis, at lacinia sapien. Orci, vulputate vel mi et, velit. Fermentum tortor pulvinar massa lacinia etiam. Lobortis lectus consectetur tincidunt mauris. A nullam eu iaculis dignissim
               </p>

               <div class="blob--notes"><b>Notes</b> get bacon</div>

            </div>
            <div class="blob--footer"> </div>
         </div>
      </div>
      <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
   </div>


</div>




<div style="height: 0;overflow: hidden;">
   <svg width="379" height="264" viewBox="0 0 379 264" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
         <clipPath id="gooppath">
            <path d="M379 0H29.4369H0C5.39676 0 14.7184 7.15129 29.4369 77.8924C36.1851 110.326 70.2543 153.484 105.237 158.224C142.512 163.275 164.633 146.797 192.598 146.797C247.792 146.797 248.921 254.021 311.875 262.138C342.856 266.132 355.5 262.138 379 249.5V0Z" fill="#C4C4C4" />
         </clipPath>
      </defs>

      <defs>
         <clipPath id="gooppath2">
            <path d="M-0.00158691 68L164.173 68L177.998 68C205.999 68 177.998 68 167.497 54C156.996 40 145.163 26.4012 128.573 26.4012C107.835 26.4012 104.379 33.9022 91.245 33.9022C65.3226 33.9022 65.6683 17.2761 42.511 4.87688C26.612 -3.63599 6.4502 0.743819 -0.0015814 4.87688L-0.00158691 68Z" fill="#C4C4C4" />
         </clipPath>
      </defs>
   </svg>
</div>




<script>
   blobular = document.querySelectorAll('.blobular');

   for (i = 0; i < blobular.length; ++i) {
      titleText = blobular[i].querySelector('h1').innerHTML; // gets content of <h1>

      blobular[i].querySelector('h1').setAttribute('data-text', titleText)
   }
</script>

<!-- <script>
   blobular = document.querySelectorAll('.blobular');

   for (i = 0; i < blobular.length; ++i) {
      var title = document.querySelector('h1');
      var divHeight = title.scrollHeight
      var lineHeight = parseInt($(title).css("line-height"))
      var lines = divHeight / lineHeight;
      console.log("lineHeight: " + lineHeight)
      console.log("divHeight: " + divHeight)
      console.log("Lines: " + lines);
   }



   var autoSizeText;

   autoSizeText = function () {
      var el, elements, _i, _len, _results;
      elements = $('.resize');
      console.log(elements);
      if (elements.length < 0) {
         return;
      }
      _results = [];
      for (_i = 0, _len = elements.length; _i < _len; _i++) {
         el = elements[_i];
         _results.push((function (el) {
            var resizeText, _results1;
            resizeText = function () {
               var elNewFontSize;
               elNewFontSize = (parseInt($(el).css('font-size').slice(0, -2)) - 1) + 'px';
               return $(el).css('font-size', elNewFontSize);
            };
            _results1 = [];
            while (el.scrollHeight > el.offsetHeight) {
               _results1.push(resizeText());
            }
            return _results1;
         })(el));
      }
      return _results;
   };

   $(document).ready(function () {
      return autoSizeText();
   });
</script> -->