<!DOCTYPE html>

<head>
   <link href="../css-templates.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <link href="vellum.css" rel="stylesheet">
</head>


<style>
   .canvaslabel {
      margin-left: 100px;
      margin-right: 20px;
      width: 150px;
      text-align: center;
      margin: 30px auto 0;
   }


   @media only screen and (max-width: 480px) {
      .canvaslabel {
         margin: 50px auto 30px;
         text-align: center;
         width: auto;
      }
   }
</style>




<!-- Icon grid -->

<div id="boutique">
   <div class="vellumtexture">
      <div class="boutiqueheader">Plot on discord @handle</div>
      <div class="boutiquegrid">


         <div class="boutiquenav scrolls">


            <div class="boutiquetab boutique_active">
               <div class="boutiquetab-overlay">
                  <span class="boutique-numerator">1</span>/6
               </div>
               <div class="boutiquetab-base">
                  <div class="boutiquetab-img" style="background-image: url(https://i.ibb.co/qdV7pRf/B2.png)"></div>
               </div>
            </div>

            <div class="boutiquetab">
               <div class="boutiquetab-overlay">
                  <span class="boutique-numerator">2</span>/6
               </div>
               <div class="boutiquetab-base">
                  <div class="boutiquetab-img" style="background-image: url(https://i.ibb.co/drTc9xH/B1.png)"></div>
               </div>
            </div>

            <div class="boutiquetab">
               <div class="boutiquetab-overlay">
                  <span class="boutique-numerator">3</span>/6
               </div>
               <div class="boutiquetab-base">
                  <div class="boutiquetab-img" style="background-image: url(https://i.ibb.co/tLW7rkP/B2.png)"></div>
               </div>
            </div>

            <div class="boutiquetab">
               <div class="boutiquetab-overlay">
                  <span class="boutique-numerator">4</span>/6
               </div>
               <div class="boutiquetab-base">
                  <div class="boutiquetab-img" style="background-image: url(https://i.ibb.co/yNr2GqC/B2.png)"></div>
               </div>
            </div>

            <div class="boutiquetab">
               <div class="boutiquetab-overlay">
                  <span class="boutique-numerator">5</span>/6
               </div>
               <div class="boutiquetab-base">
                  <div class="boutiquetab-img" style="background-image: url(https://via.placeholder.com/90x110/6C5865/FFFFFF/)"></div>
               </div>
            </div>

            <div class="boutiquetab">
               <div class="boutiquetab-overlay">
                  <span class="boutique-numerator">6</span>
                  /6
               </div>
               <div class="boutiquetab-base">
                  <div class="boutiquetab-img" style="background-image: url(https://via.placeholder.com/90x110/405765/FFFFFF/)"></div>
               </div>
            </div>


         </div>
         <div class="boutiquemainbox">


            <div class="boutiquetabbody graf boutique_active scrolls">
               <div class="titlerow">
                  <div class="h1 fadesin">Amethyst</div>
               </div>
               <div class="textarea fadesin">
                  <div class="statsbox h5">
                     <b>Age</b> ## <br>
                     <b>Species</b> Unknown <br>
                     <b>Group</b> – <br>
                     <b>FC Rec</b> –
                  </div>
                  Bacon ipsum dolor amet meatball quis venison irure, ullamco magna flank boudin frankfurter pig esse. Biltong consequat ham hock porchetta minim, sint doner eiusmod turkey aliqua excepteur in kielbasa qui deserunt. Exercitation elit brisket, fugiat ribeye ham hock ex. Tenderloin consequat swine andouille ham dolore ball tip sirloin. Kevin consequat in excepteur tri-tip. Pork jerky do kevin, occaecat pig cupim consectetur.
                  <hr>
                  <div class="h3">Heading</div>
                  In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.

                  <div class="h3">Heading</div>
                  Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet.
               </div>
            </div>


            <div class="boutiquetabbody graf scrolls">
               <div class="titlerow">
                  <div class="h1 fadesin">Beryl</div>
               </div>
               <div class="textarea fadesin">
                  <div class="statsbox h5">
                     <b>Age</b> ## <br>
                     <b>Species</b> Unknown <br>
                     <b>Group</b> – <br>
                     <b>FC Rec</b> –
                  </div>
                  Nisl suspendisse euismod a integer vel commodo leo. Enim tortor arcu sit eros justo posuere mattis. Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet
               </div>
            </div>


            <div class="boutiquetabbody graf scrolls">
               <div class="titlerow">
                  <div class="h1 fadesin">Citrine</div>
               </div>
               <div class="textarea fadesin">
                  <div class="statsbox h5">
                     <b>Age</b> ## <br>
                     <b>Species</b> Unknown <br>
                     <b>Group</b> – <br>
                     <b>FC Rec</b> –
                  </div>
                  Nisl suspendisse euismod a integer vel commodo leo. Enim tortor arcu sit eros justo posuere mattis. Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet
               </div>
            </div>


            <div class="boutiquetabbody graf scrolls">
               <div class="titlerow">
                  <div class="h1 fadesin">Diamond</div>
               </div>
               <div class="textarea fadesin">
                  <div class="statsbox h5">
                     <b>Age</b> ## <br>
                     <b>Species</b> Unknown <br>
                     <b>Group</b> – <br>
                     <b>FC Rec</b> –
                  </div>
                  Nisl suspendisse euismod a integer vel commodo leo. Enim tortor arcu sit eros justo posuere mattis. Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet
               </div>
            </div>


            <div class="boutiquetabbody graf scrolls">
               <div class="titlerow">
                  <div class="h1 fadesin">Emerald</div>
               </div>
               <div class="textarea fadesin">
                  <div class="statsbox h5">
                     <b>Age</b> ## <br>
                     <b>Species</b> Unknown <br>
                     <b>Group</b> – <br>
                     <b>FC Rec</b> –
                  </div>
                  Nisl suspendisse euismod a integer vel commodo leo. Enim tortor arcu sit eros justo posuere mattis. Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet
               </div>
            </div>


            <div class="boutiquetabbody graf scrolls">
               <div class="titlerow">
                  <div class="h1 fadesin">Garnet</div>
               </div>
               <div class="textarea fadesin">
                  <div class="statsbox h5">
                     <b>Age</b> ## <br>
                     <b>Species</b> Unknown <br>
                     <b>Group</b> – <br>
                     <b>FC Rec</b> –
                  </div>
                  Nisl suspendisse euismod a integer vel commodo leo. Enim tortor arcu sit eros justo posuere mattis. Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet
               </div>
            </div>


         </div>
      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
</div>





<script src='https://codepen.io/breezescodes/pen/NWPyXNv.js'></script>
<script>
   LOCALT3('boutique', 'boutiquetab', 'boutiquetabbody');
</script>