<!DOCTYPE html>

<head>
  <link href="../css-templates.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://kit.fontawesome.com/1fd11fd820.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>


<link href="bubbly.css" rel="stylesheet">


<!-- 
<div class="outer">
  <div class="sticky">Hi</div>
  <div class="body">
    Hello
    Bacon ipsum dolor amet pariatur chuck beef ribs flank, chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. Aliquip pork chop doner, ball tip drumstick nisi pig spare ribs cupidatat dolor exercitation.</div>
  Hello
  Bacon ipsum dolor amet pariatur chuck beef ribs flank, chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. Aliquip pork chop doner, ball tip drumstick nisi pig spare ribs cupidatat dolor exercitation.
  PARAGRAPH TAG

  Chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef.
  Do irure occaecat alcatra chislic bacon, anim aliqua pork loin eiusmod.
</div>


<style>
  .outer {
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid red;
    overflow: auto;
  }

  .body {
    position: sticky;
    top: 5px;
    background: red;
  }
</style> -->



<div class="canvasrow">
  <canvaslabel>Light mode</canvaslabel>

  <div class="bubblydevice">
    <div class="bubblydevice-screen">

      <div class="bubblydevice-statusbar">
        <div class="bubblydevice_status">11:33 PM</div>
        <div class="bubblydevice_notch"> </div>
        <div class="bubblydevice_status">
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
        </div>
      </div>

      <div class="bubblydevice-namebar">
        <h2 class="bubblydevice_recipient"><i>@</i>Unknown</h2>
        <img class="bubblydevice_pfp" src="../assets/250x400-lio-01.jpg">
      </div>

      <div class="bubblydevice-chatpanel">
        <div class="bubblydevice-messages">

          <div class="other bubblydevice_msg">hi there</div>
          <div class="bubblydevice_msg">Hello</div>
          <div class="bubblydevice_quoted">Quoted</div>
          <div class="bubblydevice_msg">Bacon ipsum dolor amet chuck beef ribs flank</div>
          <p>paragraph tag</p>
          <div class="bubblydevice_quoted">Sirloin ea pig, dolore landjaeger sausage turkey.</div>
          <div class="bubblydevice_msg">Chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. </div>
          <div class="bubblydevice_msg"><img src="../assets/250x400-lio-01.jpg">
          </div>

        </div>
      </div>

      <div class="bubblydevice_bottom">
        <i class="fas fa-camera"></i>
        <div class="bubblydevice_input">
          <div class="bubblydevice_ui send"><i class="fas fa-arrow-up"></i></div>
          <div class="bubblydevice_ui hangup"><i class="fas fa-phone-slash"></i></div>
        </div>
      </div>
    </div>
    <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
  </div>





  <div class="bubblydevice calling">
    <div class="bubblydevice-screen">

      <div class="bubblydevice-statusbar">
        <div class="bubblydevice_status">11:33 PM</div>
        <div class="bubblydevice_notch"> </div>
        <div class="bubblydevice_status">
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
        </div>
      </div>
      <div class="bubblydevice-namebar">
        <h2 class="bubblydevice_recipient">Unknown</h2>
        <img class="bubblydevice_pfp" src="../assets/250x400-lio-01.jpg">
      </div>

      <div class="bubblydevice-chatpanel">
        <div class="bubblydevice-messages">

          <div class="bubblydevice_msg">Hello</div>
          <div class="bubblydevice_msg">Bacon ipsum dolor amet pariatur chuck beef ribs flank, chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. Aliquip pork chop doner, ball tip drumstick nisi pig spare ribs cupidatat dolor exercitation. </div>
          <p>paragraph tag</p>
          <div class="bubblydevice_msg">Chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. </div>
          <div class="bubblydevice_msg">Do irure occaecat alcatra chislic bacon, anim aliqua pork loin eiusmod. </div>
        </div>
      </div>

      <div class="bubblydevice_bottom">
        <div class="bubblydevice_ui hangup"><i class="fas fa-phone-slash"></i></div>
      </div>
    </div>
    <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
  </div>








  <canvaslabel>Dark mode</canvaslabel>



  <div class="bubblydevice bubbly-darkmode" style="--accentRGB: 83,89,189">
    <div class="bubblydevice-screen">

      <div class="bubblydevice-statusbar">
        <div class="bubblydevice_status">11:33 PM</div>
        <div class="bubblydevice_notch"> </div>
        <div class="bubblydevice_status">
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
        </div>
      </div>

      <div class="bubblydevice-namebar">
        <h2 class="bubblydevice_recipient"><i>@</i>Unknown</h2>
        <img class="bubblydevice_pfp" src="../assets/250x400-lio-01.jpg">
      </div>

      <div class="bubblydevice-chatpanel">
        <div class="bubblydevice-messages">

          <div class="other bubblydevice_msg">hi there</div>
          <div class="bubblydevice_msg">Hello</div>
          <div class="bubblydevice_msg">Chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. </div>

        </div>
      </div>

      <div class="bubblydevice_bottom">
        <i class="fas fa-camera"></i>
        <div class="bubblydevice_input">
          <div class="bubblydevice_ui send"><i class="fas fa-arrow-up"></i></div>
          <div class="bubblydevice_ui hangup"><i class="fas fa-phone-slash"></i></div>
        </div>
      </div>
    </div>
    <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
  </div>





  <div class="bubblydevice calling" style="--accentRGB: 83,89,189">
    <div class="bubblydevice-screen">

      <div class="bubblydevice-statusbar">
        <div class="bubblydevice_status">11:33 PM</div>
        <div class="bubblydevice_notch"> </div>
        <div class="bubblydevice_status">
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
        </div>
      </div>
      <div class="bubblydevice-namebar">
        <h2 class="bubblydevice_recipient">Unknown</h2>
        <img class="bubblydevice_pfp" src="../assets/250x400-lio-01.jpg">
      </div>

      <div class="bubblydevice-chatpanel">
        <div class="bubblydevice-messages">

          <div class="bubblydevice_msg">Hello</div>
          <div class="bubblydevice_msg">Bacon ipsum dolor amet pariatur chuck beef ribs flank, chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. Aliquip pork chop doner, ball tip drumstick nisi pig spare ribs cupidatat dolor exercitation. </div>
        </div>
      </div>

      <div class="bubblydevice_bottom">
        <div class="bubblydevice_ui hangup"><i class="fas fa-phone-slash"></i></div>
      </div>
    </div>
    <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
  </div>






  <canvaslabel>Light frame</canvaslabel>


  <div class="bubblydevice bubbly-lightframe" style="--phoneColor:#F0F1FF">
    <div class="bubblydevice-screen">

      <div class="bubblydevice-statusbar">
        <div class="bubblydevice_status">11:33 PM</div>
        <div class="bubblydevice_notch"> </div>
        <div class="bubblydevice_status">
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
        </div>
      </div>

      <div class="bubblydevice-namebar">
        <h2 class="bubblydevice_recipient"><i>@</i>Unknown</h2>
        <img class="bubblydevice_pfp" src="../assets/250x400-lio-01.jpg">
      </div>

      <div class="bubblydevice-chatpanel">
        <div class="bubblydevice-messages">

          <div class="other bubblydevice_msg">hi there</div>
          <div class="bubblydevice_msg">Hello</div>
          <div class="bubblydevice_msg">Chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. </div>

        </div>
      </div>

      <div class="bubblydevice_bottom">
        <i class="fas fa-camera"></i>
        <div class="bubblydevice_input">
          <div class="bubblydevice_ui send"><i class="fas fa-arrow-up"></i></div>
          <div class="bubblydevice_ui hangup"><i class="fas fa-phone-slash"></i></div>
        </div>
      </div>
    </div>
    <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
  </div>




  <div class="bubblydevice bubbly-lightmode bubbly-lightframe calling" style="--phoneColor:#F0F1FF">
    <div class="bubblydevice-screen">

      <div class="bubblydevice-statusbar">
        <div class="bubblydevice_status">11:33 PM</div>
        <div class="bubblydevice_notch"> </div>
        <div class="bubblydevice_status">
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
        </div>
      </div>
      <div class="bubblydevice-namebar">
        <h2 class="bubblydevice_recipient">Unknown</h2>
        <img class="bubblydevice_pfp" src="../assets/250x400-lio-01.jpg">
      </div>

      <div class="bubblydevice-chatpanel">
        <div class="bubblydevice-messages">

          <div class="bubblydevice_msg">Hello</div>
          <div class="bubblydevice_msg">Bacon ipsum dolor amet pariatur chuck beef ribs flank, chicken pastrami tongue proident anim drumstick chislic adipisicing short ribs corned beef. Aliquip pork chop doner, ball tip drumstick nisi pig spare ribs cupidatat dolor exercitation. </div>
        </div>
      </div>

      <div class="bubblydevice_bottom">
        <div class="bubblydevice_ui hangup"><i class="fas fa-phone-slash"></i></div>
      </div>
    </div>
    <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
  </div>








</div>