<!DOCTYPE html>

<head>
   <link href="../css-templates.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <link href="//solrainha.github.io/honeybee/honeybee.css" rel="stylesheet">
   <script src="https://kit.fontawesome.com/1fd11fd820.js" crossorigin="anonymous"></script>
</head>

<style>
   html {
      background: darkslategray
   }
</style>



<div class="gildedwrap">

   <div class="gilded gilded-border">

      <div class="faceted">
         <div class="faceted-border"> </div>
         <div class="faceted-fill"> </div>
      </div>

      <div class="faceted footer">
         <div class="faceted-border"> </div>
         <div class="faceted-fill"> </div>
      </div>

      <div class="gilded-underlay gilded-border"> </div>


      <div class="gildedheader gilded-border">
         <div class="gilded_iconframe">
            <img src="https://i.ibb.co/ySNzwyk/Wav10.png">
            <div class="gilded_icon"> </div>
         </div>
      </div>

      <div class="gilded-body">
         Porchetta dolore nostrud qui chicken pariatur tri-tip consequat salami laborum. Pork chop ut aliquip pig duis kevin dolor consectetur flank nisi hamburger landjaeger. Flank fugiat eu, cupim prosciutto jerky bacon beef ad tongue aute. Ad veniam nostrud flank swine in. <br><br>

         <b>This is bolded.</b> <br>
         <i>This is italic.</i> <br><br>

         Adipisicing tail exercitation in. Ea sausage minim strip steak. Frankfurter strip steak proident non.
         <p></p>

         Elit alcatra non ham officia nisi kevin pork magna sausage eiusmod tongue chuck ham hock enim. Rump leberkas ut do flank pig. Pancetta ham quis beef shank cupim est hamburger tenderloin ground round. Pancetta exercitation eu prosciutto enim, rump ham tail voluptate tongue dolore.

         <div class="gilded-tagbox">
            <img src="../assets/gilded-sideframe.svg" height="26">

            <div class="gilded-tags">
               <a href="#">tagged</a>
            </div>

            <img src="../assets/gilded-sideframe.svg" height="26" style="transform: scale(-100%);">
         </div>
      </div>
   </div>

   <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
</div>


<link href="gilded.css" rel="stylesheet">

<div style="display: none;">
   https://dev.to/afif/border-with-gradient-and-radius-387f
   <p></p>
   https://css-tricks.com/gradient-borders-in-css/
</div>