<!DOCTYPE html>

<head>
   <link href="../css-templates.css" rel="stylesheet">

   <link rel="preconnect" href="https://fonts.gstatic.com">
   <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>


   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<style>
   html {
      background: darkgray;
   }

   .sectionalinside {
      margin-bottom: 0 !important;
   }
</style>

<link href="sectional.css" rel="stylesheet">



<!-- DEFAULT -->
<div class="canvaslabel">Multiplotter with square image</div>

<div id="sectional" class="sqpic">
   <div class="sectionalinside">

      <div class="sectional_nav">
         <div class="PTab sectional_active">jonathan strange</div>
         <div class="PTab">gilbert norrell</div>
         <div class="PTab">stephen black</div>
      </div>


      <div class="PT_spots sectional_active" style="--accent: #3C5D6D;" title="Jonathan Strange">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/896532816324603954/200x300-custom-04.jpg"></div>

            <div class="sectional_lyric">
               you're gonna grow up, you're gonna get old all that glitter don't turn to gold
            </div>

            <div class="sectional_stats">
               <div>35</div>
               <div>he/him</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.
            <br><br>
            <span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.
            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>



      <div class="PT_spots" style="--accent: #963737;" title="gilbert norrell">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


      <div class="PT_spots" style="--accent: #3C5935;" title="stephen black">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>





<!-- LARGE PIC -->
<div class="canvaslabel">Multiplotter with large image</div>

<div id="sectional" class="largepic">
   <div class="sectionalinside">

      <div class="sectional_nav">
         <div class="PTab sectional_active">jonathan strange</div>
         <div class="PTab">gilbert norrell</div>
         <div class="PTab">stephen black</div>
      </div>


      <div class="PT_spots sectional_active" style="--accent: #3C5D6D;" title="Jonathan Strange">
         <div class="col-meta">
            <div class="sectional_icon"><img src="../assets/200x600-makima-01.jpg"></div>

            <div class="sectional_lyric">
               you're gonna grow up, you're gonna get old all that glitter don't turn to gold
            </div>

            <div class="sectional_stats">
               <div>35</div>
               <div>he/him</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.

            <br><br><span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.

            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>



      <div class="PT_spots" style="--accent: #963737;" title="gilbert norrell">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150x400/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


      <div class="PT_spots" style="--accent: #3C5935;" title="stephen black">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150x400/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>



<!-- LYRICS ONLY -->

<div id="sectional" class="nopic">
   <div class="sectionalinside">

      <div class="sectional_nav">
         <div class="PTab sectional_active">jonathan strange</div>
         <div class="PTab">gilbert norrell</div>
         <div class="PTab">stephen black</div>
      </div>


      <div class="PT_spots sectional_active" style="--accent: #3C5D6D;" title="Jonathan Strange">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/896532816324603954/200x300-custom-04.jpg"></div>

            <div class="sectional_lyric">
               <!-- you're gonna grow up, you're gonna get old all that glitter don't turn to gold -->

               I'm counting up my karma and I think it's time to cash it in

            </div>

            <div class="sectional_stats">
               <div>35</div>
               <div>he/him</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.
            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.

            <br><br><span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.

            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>



      <div class="PT_spots" style="--accent: #963737;" title="gilbert norrell">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


      <div class="PT_spots" style="--accent: #3C5935;" title="stephen black">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>





<!-- SINGLE PLOTTER & TRACKER WITH TOP NAV -->

<div id="sectional" class="twofertop sqpic" style="--accent: #664670;">


   <div class="sectional_nav">
      <div class="sectional_name">jonathan strange</div>
      <div class="PTab sectional_active">plots</div>
      <div class="PTab">threads</div>
   </div>


   <div class="sectionalinside">

      <div class="col-meta">
         <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/896532816324603954/200x300-custom-04.jpg"></div>

         <div class="sectional_lyric">
            you're gonna grow up, you're gonna get old all that glitter don't turn to gold
         </div>

         <div class="sectional_stats">
            <div>35</div>
            <div>he/him</div>
            <div>field</div>
         </div>
      </div>

      <div class="PT_spots sectional_active">

         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.
            <br><br>
            <span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.
            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>


      <div class="PT_spots">
         <div class="col-threads">

            <div class="sectional_h1">2010</div>

            <div class="sectional_thread active"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread inactive"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread "><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_h1">2020</div>


            <div class="sectional_thread"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread"><a href="#">Thread name</a>
               ft. character
            </div>
         </div>
      </div>


   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>





<!-- SINGLE -->
<div class="canvaslabel">Single plotter only</div>

<div id="sectional" class="single" style="--accent:#963737;">
   <div class="sectionalinside">
      <div class="col-meta">
         <div class="sectional_name">
            jonathan strange
         </div>

         <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/896532816324603954/200x300-custom-04.jpg"></div>

         <div class="sectional_stats">
            <div>35</div>
            <div>he/him</div>
            <div>field</div>
         </div>
      </div>

      <div class="col-about">
         Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.

         <a href="#">See app →</a>
      </div>

      <div class="col-plots">
         <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.

         <br><br><span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.

         <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

         <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>





<!-- SINGLE PLOTTER & TRACKER -->
<div class="canvaslabel">Multipurpose single plotter</div>

<div id="sectional" class="twofer" style="--accent: #3C5935;">
   <div class="sectionalinside">
      <div class="col-meta">
         <div class="sectional_name">jonathan </div>

         <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/896532816324603954/200x300-custom-04.jpg"></div>

         <div class="sectional_nav">
            <div class="PTab sectional_active">Plots</div>
            <div class="PTab">Threads</div>
            <div class="PTab">Relations</div>
         </div>
      </div>

      <div class="PT_spots sectional_active">
         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.

            <br><br><span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.

            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>

      <div class="PT_spots">
         <div class="col-threads">

            <div class="sectional_h1">2010</div>

            <div class="sectional_thread active"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread inactive"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread "><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_h1">2020</div>


            <div class="sectional_thread"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread"><a href="#">Thread name</a>
               ft. character
            </div>
         </div>
      </div>


      <div class="PT_spots">
         <div class="col-relations">

            <div class="sectional_rel">
               <p><b>Name</b>
                  Blurb. Short loin salami prosciutto drumstick meatloaf chuck ham pig t-bone bresaola kevin kielbasa shankle fatback. Sausage turducken tongue porchetta. Bresaola doner jerky chicken swine fatback short loin.</p> <i class="far fa-meh"></i>
            </div>

            <div class="sectional_rel">
               <p><b>Name</b>
                  Blurb about them</p>
               <i class="far fa-meh"></i>
            </div>

            <div class="sectional_rel">
               <p><b>Name</b>
                  Blurb about them</p>
               <i class="far fa-frown"></i>
            </div>

         </div>
      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>






<div class="canvaslabel">Dark Themed</div>


<div id="sectional" class="sqpic dark">
   <div class="sectionalinside">

      <div class="sectional_nav">
         <div class="PTab sectional_active">jonathan strange</div>
         <div class="PTab">gilbert norrell</div>
         <div class="PTab">stephen black</div>
      </div>


      <div class="PT_spots sectional_active" style="--accent: #2c4856;--accentrgb:44,72,86;" title="Jonathan Strange">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/896532816324603954/200x300-custom-04.jpg"></div>

            <div class="sectional_lyric">
               you're gonna grow up, you're gonna get old all that glitter don't turn to gold
            </div>

            <div class="sectional_stats">
               <div>35</div>
               <div>he/him</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.
            <br><br>
            <span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.
            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>



      <div class="PT_spots" style="--accent: #963737;--accentrgb: 150, 55, 55;" title="gilbert norrell">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


      <div class="PT_spots" style="--accent: #3C5935;--accentrgb: 60, 89, 53;" title="stephen black">
         <div class="col-meta">
            <div class="sectional_icon"><img src="https://via.placeholder.com/150/333/FFFFFF/"></div>

            <div class="sectional_lyric">
               when I feel like a castle in the sand, when I fall down you pick me up again
            </div>

            <div class="sectional_stats">
               <div>age</div>
               <div>pronouns</div>
               <div>field</div>
            </div>
         </div>

         <div class="col-about">
            Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw soften fruit.

            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Plot Hook</span> Text here
         </div>
      </div>


   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>






<div id="sectional" class="twofer dark" style="--accent: #527649;--accentrgb:82, 118, 73;">
   <div class=" sectionalinside">
      <div class="col-meta">
         <div class="sectional_name">jonathan </div>

         <div class="sectional_icon"><img src="https://cdn.discordapp.com/attachments/683720444796338317/904237787635679232/juNYaqG.png"></div>

         <div class="sectional_nav">
            <div class="PTab sectional_active">Plots</div>
            <div class="PTab">Threads</div>
            <div class="PTab">Relations</div>
         </div>
      </div>

      <div class="PT_spots sectional_active">
         <div class="col-about">
            Shankle cow corned beef andouille meatloaf alcatra. Meatloaf kielbasa drumstick boudin jowl hamburger. Kevin beef ribs tenderloin ham porchetta beef. Frankfurter flank landjaeger picanha jowl prosciutto, shank ball tip. Ribeye buffalo rump filet mignon. Pork pig ham hock, meatloaf ham ribeye t-bone doner frankfurter jerky meatball cupim tongue bresaola pork loin.
            <a href="#">See app →</a>
         </div>

         <div class="col-plots">
            <span>Hook One</span> Bacon ipsum dolor amet buffalo jerky hamburger ribeye, drumstick alcatra shoulder brisket pork chop rump tri-tip t-bone. Chuck brisket andouille strip steak bresaola. Rump cow chuck, tri-tip pork loin shankle bacon ham hock beef hamburger kevin. Turducken beef ribs jerky kielbasa t-bone, ham cupim fatback ball tip andouille sausage pork belly.

            <br><br><span>Hook Two</span> Sirloin shank tail, chicken ground round picanha pork belly prosciutto tri-tip ham pork. Picanha andouille sausage doner tail, pork loin turkey tri-tip ham hock pig pork belly chicken t-bone jowl prosciutto.

            <br><br><span>Hook Three</span> Frankfurter spare ribs filet mignon flank strip steak bacon venison short loin beef ribs chislic doner chicken leberkas swine ground round.

            <br><br><span>Hook Four</span> Chuck beef short loin leberkas buffalo. Pork chop ball tip turkey, spare ribs tri-tip bacon jowl pork kevin buffalo beef. T-bone pork sirloin doner. Alcatra ham pork chop jowl, pork loin landjaeger t-bone drumstick tenderloin spare ribs chislic kielbasa. Frankfurter shoulder swine, andouille tail bresaola corned beef pig hamburger short ribs alcatra turkey drumstick kielbasa picanha.
         </div>
      </div>

      <div class="PT_spots">
         <div class="col-threads">

            <div class="sectional_h1">2010</div>

            <div class="sectional_thread active"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread inactive"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread "><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_h1">2020</div>


            <div class="sectional_thread"><a href="#">Thread name</a>
               ft. character
            </div>

            <div class="sectional_thread"><a href="#">Thread name</a>
               ft. character
            </div>
         </div>
      </div>


      <div class="PT_spots">
         <div class="col-relations">

            <div class="sectional_rel">
               <p><b>Name</b>
                  Blurb. Short loin salami prosciutto drumstick meatloaf chuck ham pig t-bone bresaola kevin kielbasa shankle fatback. Sausage turducken tongue porchetta. Bresaola doner jerky chicken swine fatback short loin.</p> <i class="far fa-meh"></i>
            </div>

            <div class="sectional_rel">
               <p><b>Name</b>
                  Blurb about them</p>
               <i class="far fa-meh"></i>
            </div>

            <div class="sectional_rel">
               <p><b>Name</b>
                  Blurb about them</p> <i class="far fa-frown"></i>
            </div>

         </div>
      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="credits">made by gimmick</a>
</div>



<!-- <script src='https://codepen.io/breezescodes/pen/XWdymYM.js'></script>

<script>
   localT4({
      outerName: '#sectional',
      tabClassName: '.PTab',
      contClassName: '.PT_spots'
   });
</script> -->


<script src='https://codepen.io/breezescodes/pen/NWPyXNv.js'></script>
<script>
   LOCALT3('sectional', 'PTab', 'PT_spots');
</script>