<!DOCTYPE html>

<head>
    <link href="../css-templates.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<!--Premise -->

<div class="outerbox info">
    <div class="innerbox">
        <h1>Premise</h1>

        <div class="section flex">
            <div class="labeltext">
                <h2>01</h2>
            </div>
            <div class="maintext">
                <h2>Plot</h2>
                Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.
                <br><br>Tote bag 8-bit flannel dreamcatcher photo booth. Tofu photo booth American Apparel, cliche brunch swag freegan lomo retro cray Vice gastropub post-ironic +1 pickled. Marfa Tonx next level, Banksy lo-fi vegan pop-up chia small batch DIY seitan asymmetrical viral. Disrupt salvia bespoke craft beer master cleanse. Butcher cornhole gentrify pop-up, raw denim viral literally.
            </div>
        </div>

        <div class="section flex">
            <div class="labeltext">
                <h2>02</h2>
            </div>
            <div class="maintext">
                <h2>Setting</h2>
                Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.
                <br>Tote bag 8-bit flannel dreamcatcher photo booth. Tofu photo booth American Apparel, cliche brunch swag freegan lomo retro cray Vice gastropub post-ironic +1 pickled. Marfa Tonx next level, Banksy lo-fi vegan pop-up chia small batch DIY seitan asymmetrical viral. Disrupt salvia bespoke craft beer master cleanse. Butcher cornhole gentrify pop-up, raw denim viral literally.
            </div>
        </div>

    </div>
</div>


<!--Rules-->

<div class="outerbox rules">
    <div class="innerbox">
        <h1>Rules</h1>

        <div class="section flex">
            <div class="labeltext">
                <h2>01</h2>
            </div>
            <div class="maintext">
                Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.

            </div>
        </div>

        <div class="section flex">
            <div class="labeltext">
                <h2>02</h2>
            </div>
            <div class="maintext">
                Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami.
            </div>
        </div>

    </div>
</div>


<!--FCs-->

<div class="outerbox fcs">
    <div class="innerbox">
        <h1>Face Claims</h1>

        <div class="section">
            <div class="labeltext">
                <h3>ABCD</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>EFGH</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>IJKL</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>


        <div class="section">
            <div class="labeltext">
                <h3>MNOP</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>QRST</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>UVW</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>XYZ</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>0–9</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>


        <div class="forms">
            <ul>
                <li>Reservations last for x weeks</li>
                <li>Names should be written as First Last</li>
                <li>Another rule</li>
            </ul>

            <div class="section flex">
                <h5>Claiming</h5>
                <div class="maintext">
                    <div class="codebox">[b]SERIES, face claim[/b] for ooc name until [i]month 00[/i][*break]</div>
                </div>
            </div>

            <div class="section flex">
                <h5>Reserving</h5>
                <div class="maintext">
                    <div class="codebox">[b]SERIES, face claim[/b] for ooc name until [i]month 00[/i][*break]</div>
                </div>
            </div>
        </div>
    </div>
</div>








<!--Premise -->

<div class="outerbox faq">
    <div class="innerbox">
        <h1>F.A.Q.</h1>

        <div class="section">
            <div class="labeltext">
                <h4>Is this a question?</h4>
            </div>
            <div class="maintext">
                Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h4>Is this a long enough question to span more than one line yet, how about now?</h4>
            </div>
            <div class="maintext">
                Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.
            </div>
        </div>

    </div>
</div>




<style>
    .outerbox {
        margin: 20px auto;
        max-width: 600px;
        border: 0px solid var(--accent);
        border-top: 20px solid var(--accent);
        border-bottom: 8px solid var(--accent);
        background: #f9f9f9;
        font: 400 12px/16px 'Open Sans';
        color: #222;
        --accent: #9182e0;
    }

    .innerbox {
        padding: 30px 130px 20px 40px;
        border: 2px solid var(--accent);
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        margin: 4px 0;
    }

    .section {
        width: 100%;
        margin-bottom: 24px;
    }

    .flex {
        display: flex;
    }

    .labeltext {
        min-width: 68px;
        display: block
    }

    .maintext {
        display: block;
    }

    .outerbox br+br {
        content: '';
        padding: 0 0 10px;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        font-family: 'DM Serif Display';
        color: var(--accent);
        line-height: 1em;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 44px;
    }

    /*    premise*/

    h2 {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .info .labeltext h2:after {
        content: '';
        width: 24px;
        padding: 5px 0 0;
        margin-left: 8px;
        height: 1px;
        border-top: 1px solid var(--accent);
        display: inline-block;
    }


    /*    RULES*/

    .rules .labeltext {
        min-width: 68px;
    }


    /*    FCS */

    .fcs .section {
        display: flex;
        align-items: flex-start;
    }

    .fcs .labeltext {
        min-width: 82px;
        max-width: 82px;
    }

    .fcs .maintext {
        width: 100%;
        margin-top: 3px;
        margin-left: 0px;

    }


    h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
        letter-spacing: 2px;
    }

    .fcs b {
        font-weight: 700;
    }

    .fcs a {
        font-weight: 700;
        text-decoration: none;
    }



    /*    forms box */

    .forms {
        border-top: 1px solid var(--accent);
        margin-top: 32px;
        padding-top: 24px;
    }

    .forms .section {
        margin-bottom: 0;
    }

    .forms .innerbox {
        border: 0;
    }


    .outerbox ul {
        margin-top: 0px;
        margin-left: -25px;
    }


    h5 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
        min-width: 80px;
        white-space: nowrap;
    }

    .codebox {
        background: #ececec;
        padding: 10px;
        margin-bottom: 20px;
    }


    /*    FAQ */

    .faq .labeltext {
        min-width: 80px;
    }

    .faq .maintext {
        width: 100%;
        margin-left: 40px;
    }

    h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
        letter-spacing: .2px;
        font-weight: 600;
    }
</style>










<!--FCs-->

<div class="outerbox fcs">
    <div class="innerbox">
        <h1>Face Claims</h1>

        <div class="section">
            <div class="labeltext">
                <h3>ABCD</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>AO NO EXORCIST, okumura rin</b> reserved until <i>apr 23</i><br>

                <b>ARCANA, THE, nadia</b> as <a href='index.php?showuser=132' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>cordelia</a><br><br>

                <b>ARKNIGHTS, lappland</b> as <a href='index.php?showuser=230' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>althea</a><br>
                <b>ARKNIGHTS, platinum</b> as <a href='index.php?showuser=180' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>odette</a><br>
                <b>ARKNIGHTS, skadi</b> as <a href='index.php?showuser=174' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>eiralill</a><br>
                <b>ARKNIGHTS, texas</b> as <a href='index.php?showuser=260' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>micah</a><br><br>

                <b>AVATAR: THE LAST AIRBENDER, katara</b> as <a href='index.php?showuser=75' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>cassia</a><br><br>


                <b>BLACK BUTLER, agni</b> as <a href='index.php?showuser=309' rel='nofollow' alt='profile link' class='user-tagged mgroup-3'>neiss</a><br><br>

                <b>BLACK ROCK SHOOTER, dead master</b> as <i><a href='index.php?showuser=234' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>akhlys</a></i><br><br>

                <b>BLOODBORNE, the choir</b> as <a href='index.php?showuser=175' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>sovereign</a><br><br>

                <b>BUNGOU STRAY DOGS, nakahara chuuya</b> reserved until <i>may 9</i><br>
                <b>BUNGOU STRAY DOGS, osamu dazai</b> as <a href='index.php?showuser=257' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>meredith</a><br><br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>EFGH</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>FATE, arjuna</b> as <a href='index.php?showuser=216' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>kael</a><br>
                <b>FATE, arthur pendragon ( alter )</b> as <a href='index.php?showuser=6' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>leo</a><br>
                <b>FATE, arturia pendragon ( lancer )</b> as <a href='index.php?showuser=32' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>emel</a><br>
                <b>FATE, arturia pendragon ( lily )</b> as <a href='index.php?showuser=21' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>lorem</a><br>
                <b>FATE, ashwatthama</b> as <a href='index.php?showuser=49' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>asahiko</a><br>
                <b>FATE, brynhildr</b> as <a href='index.php?showuser=35' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>brijilt</a><br>
                <b>FATE, cu chulainn</b> as <a href='index.php?showuser=228' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>floran</a><br>
                <b>FATE, florence nightingale</b> as <a href='index.php?showuser=14' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>sakura</a><br>
                <b>FATE, karna</b> as <a href='index.php?showuser=189' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>hiroshi</a><br>
                <b>FATE, maou nobunaga</b> as <a href='index.php?showuser=23' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>allie</a><br>
                <b>FATE, minamoto no yorimitsu</b> as <a href='index.php?showuser=13' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>ayame</a><br>
                <b>FATE, medea</b> as <a href='index.php?showuser=284' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>adelynn</a><br>
                <b>FATE, merlin</b> as <a href='index.php?showuser=72' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>ipsum</a><br>
                <b>FATE, nero claudius</b> as <a href='index.php?showuser=208' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>calanthe</a><br>
                <b>FATE, oda nobunaga</b> as <a href='index.php?showuser=64' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>olivia</a></br>
                <b>FATE, okita souji</b> as <a href='index.php?showuser=85' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>valeria</a><br>
                <b>FATE, scathach</b> as <a href='index.php?showuser=14' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>sakura</a><br>
                <b>FATE, sigurd</b> as <a href='index.php?showuser=34' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>silas</a><br>
                <b>FATE, tamamo no mae</b> as <a href='index.php?showuser=29' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>ulania</a><br>
                <b>FATE, tohsaka rin</b> as <a href='index.php?showuser=122' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>momo</a><br><br>

                <b>FINAL FANTASY, auron</b> as <a href='index.php?showuser=27' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>yoritomo</a><br>
                <b>FINAL FANTASY, aymeric de borel</b> as <a href='index.php?showuser=225' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>emory</a><br>
                <b>FINAL FANTASY, noctis lucis caelum</b> as <a href='index.php?showuser=8' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>lukas</a><br>
                <b>FINAL FANTASY, tifa lockhart</b> is permanently reserved by nugget<br>
                <b>FINAL FANTASY, y'shtola rhul</b> as <a href='index.php?showuser=319' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>annushka</a><br>
                <br>

                <b>FIRE EMBLEM, annette fantine dominic</b> as <a href='index.php?showuser=79' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>sylvia</a><br>
                <b>FIRE EMBLEM, byleth eisner ( female )</b> as <a href='index.php?showuser=17' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>eponine</a><br>
                <b>FIRE EMBLEM, claude von riegan</b> as <a href='index.php?showuser=267' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>taran</a><br>
                <b>FIRE EMBLEM, corrin ( female )</b> as <a href='index.php?showuser=7' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>lydian</a><br>
                <b>FIRE EMBLEM, chrom</b> as <a href='index.php?showuser=325' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>lifris</a><br>
                <b>FIRE EMBLEM, dimitri alexandre blaiddyd</b> as <a href='index.php?showuser=109' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>castion</a><br>
                <b>FIRE EMBLEM, edelgard von hresvelg</b> as <a href='index.php?showuser=15' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>jessalyn</a><br>
                <b>FIRE EMBLEM, felix hugo fraldarius</b> as <a href='index.php?showuser=60' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>quincy</a><br>
                <b>FIRE EMBLEM, hilda valentine goneril</b> as <a href='index.php?showuser=59' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>neeva</a><br>
                <b>FIRE EMBLEM, lysithea von cordelia</b> as <a href='index.php?showuser=25' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>nagamimi</a><br>
                <b>FIRE EMBLEM, marianne von edmund</b> as <a href='index.php?showuser=298' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>adelia</a><br>
                <b>FIRE EMBLEM, sylvain jose gautier</b> as <a href='index.php?showuser=292' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>zane</a><br><br>

                <b>FOREVER 7TH CAPITAL, ronac</b> as <a href='index.php?showuser=50' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>dorak</a><br><br>

                <b>FULLMETAL ALCHEMIST, greed/ling</b> as <a href='index.php?showuser=97' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>vega</a><br><br>

                <b>GINTAMA, sakata gintoki</b> as <a href='index.php?showuser=19' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>dicio</a><br>
                <b>GINTAMA, takasugi shinsuke</b> as <a href='index.php?showuser=49' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>asahiko</a><br><br>

                <b>GIRLS' FRONTLINE, aek-999</b> as <a href='index.php?showuser=61' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>gray</a><br>
                <b>GIRLS' FRONTLINE, lee-enfield</b> as <a href='index.php?showuser=218' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>maeve</a><br><br>

                <b>GRANBLUE FANTASY, heles</b> as <a href='index.php?showuser=36' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>nagiri</a><br>
                <b>GRANBLUE FANTASY, narmaya</b> as <a href='index.php?showuser=252' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>iolora</a><br>
                <b>GRANBLUE FANTASY, percival</b> as <a href='index.php?showuser=165' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>ludwig</a><br>
                <b>GRANBLUE FANTASY, rosetta</b> as <a href='index.php?showuser=170' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>maia</a><br>
                <b>GRANBLUE FANTASY, vane</b> as <a href='index.php?showuser=169' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>stone</a><br><br>

                <b>GOOD OMENS, crowley</b> as <a href='index.php?showuser=201' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>idris</a><br><br>

                <b>GUILTY GEAR, dizzy</b> as <a href='index.php?showuser=33' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>aytel</a><br><br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>IJKL</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>KINGDOM HEARTS, riku</b> as <a href='index.php?showuser=20' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>liam</a><br>
                <b>KINGDOM HEARTS, sora</b> as <a href='index.php?showuser=146' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>kiyoshi</a><br><br>

                <b>LAND OF THE LUSTROUS, antarcticite</b> as <a href='index.php?showuser=285' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>blanc</a><br>
                <b>LAND OF THE LUSTROUS, phosphophyllite</b> as <a href='index.php?showuser=46' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>beau</a><br><br>

                <b>LEAGUE OF LEGENDS, ahri</b> as <a href='index.php?showuser=153' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>rina</a><br>
                <b>LEAGUE OF LEGENDS, irelia</b> as <a href='index.php?showuser=185' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>alchemilla</a><br><br>

                <b>LEGEND OF HEROES, THE, alan richard</b> as <a href='index.php?showuser=269' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>oswald</a><br><br>

                <b>LEGEND OF ZELDA, THE, link</b> as <a href='index.php?showuser=288' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>ansel</a><br>
                <b>LEGEND OF ZELDA, THE, princess zelda</b> as <a href='index.php?showuser=66' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>avery</a><br><br>

                <b>LORD OF THE RINGS, legolas</b> as <a href='index.php?showuser=304' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>alden</a><br><br>
            </div>
        </div>


        <div class="section">
            <div class="labeltext">
                <h3>MNOP</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>MACROSS DELTA, kaname buccaneer</b> as <a href='index.php?showuser=256' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>carmen</a><br><br>

                <b>MY HERO ACADEMIA, amajiki tamaki</b> as <a href='index.php?showuser=68' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>zero</a><br>
                <b>MY HERO ACADEMIA, bakugou katsuki</b> as <a href='index.php?showuser=194' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>leon</a><br>
                <b>MY HERO ACADEMIA, dabi</b> as <a href='index.php?showuser=67' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>immiker</a> <br>
                <b>MY HERO ACADEMIA, izuku midoriya</b> as <a href='index.php?showuser=241' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>artemis</a> <br>
                <b>MY HERO ACADEMIA, takami keigo</b> as <a href='index.php?showuser=172' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>cat</a><br>
                <b>MY HERO ACADEMIA, uraraka ochako</b> as <a href='index.php?showuser=287' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>elliott</a><br><br>

                <b>ONE PIECE, boa hancock</b> as <a href='index.php?showuser=125' rel='nofollow' alt='profile link' class='user-tagged mgroup-3'>cerebella</a><br>
                <b>ONE PIECE, donquixote rocinante</b> as <a href='index.php?showuser=51' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>casterian</a><br>
                <b>ONE PIECE, koala</b> as <a href='index.php?showuser=181' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>giselle</a><br>
                <b>ONE PIECE, sabo</b> as <a href='index.php?showuser=149' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>dragos</a><br> <br>

                <b>OVERWATCH, gabriel reyes</b> as <a href='index.php?showuser=144' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>raul</a><br>
                <b>OVERWATCH, hana song</b> as <a href='index.php?showuser=293' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>minerva</a><br>
                <b>OVERWATCH, jesse mccree</b> as <a href='index.php?showuser=200' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>henry</a><br>
                <b>OVERWATCH, sombra</b> as <a href='index.php?showuser=182' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>sabrina</a><br><br>

                <b>OWARI NO SERAPH, hyakuya mikaela</b> is permanently reserved by peanut<br>

            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>QRST</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>PANTY AND STOCKING, panty anarchy</b> as <a href='index.php?showuser=147' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>ellison</a><br><br>

                <b>PERSONA, akechi goro</b> as <a href='index.php?showuser=28' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>yuma</a><br>
                <b>PERSONA, amamiya ren</b> as <a href='index.php?showuser=237' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>julius</a><br>
                <b>PERSONA, arisato minato</b> as <a href='index.php?showuser=69' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>luther</a><br>
                <b>PERSONA, mochizuki ryoji</b> as <a href='index.php?showuser=70' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>avesta</a><br>
                <b>PERSONA, sakamoto ryuji</b> reserved until <i>may 9</i><br><br>

                <b>POKEMON, nessa</b> as <a href='index.php?showuser=91' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>kenya</a><br>
                <b>POKEMON, raihan</b> as <a href='index.php?showuser=80' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>taiyo</a><br><br>

                <b>PROMARE, lio fotia</b> as <a href='index.php?showuser=71' rel='nofollow' alt='profile link' class='user-tagged mgroup-9'>nikkari</a><br><br>

                <b>SAILOR MOON, kou seiya</b> as <a href='index.php?showuser=159' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>jules</a><br>
                <b>SAILOR MOON, luna</b> as <a href='index.php?showuser=253' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>luna</a><br>
            </div>
        </div>

        <div class="section">
            <div class="labeltext">
                <h3>UVW<br> XYZ</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>VOCALOID, hatsune miku</b> as <a href='index.php?showuser=42' rel='nofollow' alt='profile link' class='user-tagged mgroup-8'>miki</a><br>
                <b>VOCALOID, xincheng</b> as <a href='index.php?showuser=133' rel='nofollow' alt='profile link' class='user-tagged mgroup-10'>yonna</a><br><br>

                <b>YOUTUBE, kizuna ai</b> as <a href='index.php?showuser=88' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>atlas</a><br><br>

                <b>YU YU HAKUSHO, kurama</b> as <a href='index.php?showuser=113' rel='nofollow' alt='profile link' class='user-tagged mgroup-7'>yakumo</a><br>
            </div>
        </div>


        <div class="section">
            <div class="labeltext">
                <h3>0–9</h3>
            </div>
            <div class="maintext">
                <div class="halfborder"> </div>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
                <br>
                <b>ANIMANGA, name</b> as <a href="URL">character</a> <br><b>ANIMANGA, name</b> as <a href="URL">character</a> <br>
            </div>
        </div>


    </div>
</div>