<link href="https://fonts.googleapis.com/css?family=Hind:400,500,600,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

<div class="svth-post-7-outer-wrapper">
    <div class="svth-post-7">

        <div class="inner-wrapper">
            <div class="header">
                <h1>a short line of lyrics a short line of lyrics</h1>
                <h2>a longer line of lyrics or what have you a longer line of lyrics or what have </h2>
            </div>
            <br>
            <div class="body">
                <b>Buying the right telescope</b> to take your love of astronomy to the next level is a big next step in the development of your passion for the stars. In many ways, it is a big step from someone who is just fooling around with astronomy to a serious student of the science. But you and I both know that there is still another big step after buying a telescope before you really know how to use it.
                <br><br> <a>Buying the right</a> telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars. In many ways, it is a big step from someone who is just fooling around with astronomy to a serious student of the science. But you and I both know that there is still another big step after buying a telescope before you really know how to use it.
                <br><br> Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars. In many ways, it is a big step from someone who is just fooling around with astronomy to a serious student of the science. But you and I both know that there is still another big step after buying a telescope before you really know how to use it.
            </div>
            <div class="footer">
                <h3> a note here
                    <A href="#">name</A>
                    <A href="#">name</A>
                    <A href="#">name</A>

                </h3>
            </div>
        </div>

    </div>
</div>

<style>
    html {
        background: antiquewhite;
    }

    body {
        --seventhAccent2: #e3c65d;
        --seventhGroup1: #d171a3;
        --seventhGroup2: #cc6358;
        --seventhGroup3: #78bacc;
        --seventhGroup4: #73bf82;
        --seventhGroup5: #9a8ac2;
        --seventhGroup6: #8186c7;
        --seventhRGBAccent1: 212, 114, 116;
        --seventhRGBAccent2: 227, 198, 93;
        --seventhRGBGroup1: 209, 113, 163;
        --seventhRGBGroup2: 204, 99, 88;
        --seventhRGBGroup3: 120, 186, 204;
        --seventhRGBGroup4: 115, 191, 130;
        --seventhRGBGroup5: 154, 138, 194;
        --seventhRGBGroup6: 129, 134, 199;
        --syncRGBcolor: var(--seventhRGBGroup4);
        --synccolor: var(--seventhGroup4);
    }

    .svth-post-7-outer-wrapper {
        background: linear-gradient(135deg, var(--synccolor, var(--seventhAccent1)), rgba(var(--syncRGBcolor, var(--seventhRGBAccent1)), 0.5));
        padding: 10px;
        width: 470px;
        margin: auto;
        position: relative
    }

    .svth-post-7 {
        width: 450px;
        margin: auto;
        background: #f7f7f7;
        padding: 8px;
        font: 13px/17px 'Hind', sans-serif;
        color: #222;
        --accent: var(--synccolor, var(--seventhAccent1));

    }

    .svth-post-7 .inner-wrapper {
        border: 2px solid var(--accent);
        padding: 30px 35px;
    }

 .svth-post-7 .header { margin: 5px 0 15px } .svth-post-7 h1 { margin: 5px 0 0px; color: var(--accent); text-transform: uppercase; font: 700 18px/20px 'Poppins'; letter-spacing: 1.0px; display: block; position: relative; width: 75%; } /* .svth-post-7 h1::after { content: ' '; border-top: 2px solid var(--accent); height: 1px; position: absolute; margin-top: 24px; width: 100%; left: 0; } */ .svth-post-7 h2 { color: var(--accent); border-top: 2px solid var(--accent); display: block; width: auto; margin: 5px 0 0px; padding-top: 8px; font: 700 11px/15px 'Hind'; position: relative; display: inline-block; width: 75%; text-transform: uppercase; letter-spacing: .5px; }

    .svth-post-7 h3 {
        border-left: 142px solid var(--accent);
        padding-left: 10px;
        font: 700 10px/13px 'Hind';
        margin: 25px 0 0;
        padding-top: 2px;
        letter-spacing: .8px;
        text-transform: uppercase;
    }

    .svth-post-7 h3 a:not(:last-child):after {
        content: "·";
        color: rgba(22, 22, 22, .5);
        margin: 0 0px 0 3px;
    }


    .svth-post-7 b,
    .svth-post-7 a {
        color: var(--synccolor, var(--seventhAccent1));
        font: inherit;
        text-decoration: none;
    }

    .svth-post-7 b {
        font-size: 13px;
        letter-spacing: .5px;
        font-weight: bold
    }

    .svth-post-7 br {
        content: '';
        padding: 0 0 5px;
        line-height: 0;
        display: block;
    }




    .svth-post-7 a.user-tagged.mgroup-4 {
        --synccolor: var(--seventhGroup6);
    }

    .svth-post-7 a.user-tagged.mgroup-6 {
        --synccolor: var(--seventhGroup5);
    }

    .svth-post-7 a.user-tagged.mgroup-7 {
        --synccolor: var(--seventhGroup1);
    }

    .svth-post-7 a.user-tagged.mgroup-8 {
        --synccolor: var(--seventhGroup2);
    }

    .svth-post-7 a.user-tagged.mgroup-9 {
        --synccolor: var(--seventhGroup3);
    }

    .svth-post-7 a.user-tagged.mgroup-10 {
        --synccolor: var(--seventhGroup4);
    }

</style>



<!-- bbc_post3 -->
<div class="svnth-post-3">
    <div class="svnth-post-3-top">
        <div class="svnth-post-3-top-1"></div>
        <div class="svnth-post-3-top-2">
            <div><img src="(PARAM1)"></div>
        </div>
    </div>
    <div class="svnth-post-3-bulk">
        <div>(PARAM2)</div>
    </div>
    <div class="svnth-post-3-bot">
        <div>TAGGED</div>
    </div>
</div>
<!-- end_bbc_post3 -->
