<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
   <h3>Slider Tabs</h3>
   Behaves like CSS input/labels. Can animate container for all content to achieve sliding transitions <br><br>

   <div class="tabgroup1">
      <div id="navwrap">
         <div class="tab" id="tab_0">One</div>
         <div class="tab" id="tab_1">Two</div>
         <div class="tab" id="tab_2">Three</div>
         <div class="tab" id="tab_3">Four</div>

      </div>

      <div id="slideswrapper">
         <section name="tab_0">First tab content</section>
         <section name="tab_1">Second tab content</section>
         <section name="tab_2">Third tab content</section>
         <section name="tab_3">Fourth tab content</section>

      </div>


      <div class="prev">Previous</div>
      <div class="next">Forward</div>
   </div>

   <hr>

   <h3>Independent Tabs</h3>
   Animate each slide individally <br><br>

   <div class="tabgroup2">

      <div id="navwrap">
         <div class="tab" id="tab_0">Alpha</div>
         <div class="tab" id="tab_1">Beta</div>
         <div class="tab" id="tab_2">Charlie</div>
         <div class="tab" id="tab_4">Delta</div>

      </div>

      <div id="slideswrap">
         <section>Alpha tab content</section>
         <section>Beta tab content</section>
         <section>Charlie tab content</section>
         <section>Delta tab content</section>
      </div>

      <div class="prev">Previous</div>
      <div class="next">Next</div>

   </div>





</body>



<style>
   * {
      position: relative;
      box-sizing: border-box;
      transition: .4s;
   }

   .activetab {
      color: red;
   }

   section {
      padding: 1rem;
   }



   .tabgroup1 {
      width: 100%;
      border: 1px solid black;
      overflow: hidden;

      --numOfSlides: 4;

      #slideswrapper {
         width: calc(var(--numOfSlides) * 100%);
         display: flex;
         flex-wrap: nowrap;
      }

      #slideswrapper[class="tab_0"] {
         transform: translateX(0);
      }

      #slideswrapper[class="tab_1"] {
         transform: translateX(calc(-100% / var(--numOfSlides) * 1));
      }

      #slideswrapper[class="tab_2"] {
         transform: translateX(calc(-100% / var(--numOfSlides) * 2));
      }

      #slideswrapper[class="tab_3"] {
         transform: translateX(calc(-100% / var(--numOfSlides) * 3));
      }

      section {
         width: 100%;
      }


   }



   .tabgroup2 {
      border: 1px solid black;

      section {
         display: none;
      }

      section.activeslide {
         display: block;
      }

   }
</style>





<script>
   // Slider Tabs 
   // Base code first written for Etheria

   function makeTabsSlider(outerWrapper, tabContentWrap, numOfTabs) {
      // Find all things with tab class inside outerWrapper
      var tabs = document.querySelector(outerWrapper).getElementsByClassName('tab');
      for (var i = 0; i < tabs.length; i++) {
         tabs[i].addEventListener("click", toggleTab);
         tabs[i].dataset.index = i;
      }

      // Apply active class to first tab automatically
      tabs[0].classList.add('activetab')

      // Create indexable array from tabs
      const alltabs = Array.from(tabs)

      function toggleTab() {
         activeTabIndex = parseInt(this.dataset.index);

         // removes active class from every tab except the one clicked 
         alltabs.forEach(el => $(el).removeClass('activetab'))

         $(this).addClass('activetab')

         // Toggle slides to match clicked tab 

         // get ID of the selected tab
         var selectedTabID = $(this).attr('id')

         // ARCHIVE: If using only 1 parameter, tab menu wrapper and slide wrapper should have the same prefix. 
         // get the slides wrapper that corresponds with the tab menu being navigated
         // tabContentWrap = '#' + $(this).parent().attr('id').split('-')[0] + '-slideswrap'

         // Find tab content area
         // apply ID of selectedTab to tab content area
         $(outerWrapper).find(tabContentWrap).removeAttr('class').addClass(selectedTabID);
      }


      // FOR BACK AND FORWARD BUTTONS, IF INCLUDING

      numOfTabs = numOfTabs - 1; // Convert number of tabs to equivalent index value since index starts at 0
      activeTabIndex = 0; // Index of active tab

      // When clicking prev, decrease index by 1. If index goes below number of tabs, loop from the end
      document.querySelector(outerWrapper + ' .prev').addEventListener('click', function (e) {
         activeTabIndex = activeTabIndex - 1;
         if (+activeTabIndex < 0) {
            activeTabIndex = numOfTabs;
         }
         setSliderTab(activeTabIndex)
      });

      // When clicking next, increase index by 1. If index exceeds number of tabs, loop from the beginning
      document.querySelector(outerWrapper + ' .next').addEventListener('click', function (e) {
         activeTabIndex = activeTabIndex + 1;
         if (+activeTabIndex > numOfTabs) {
            activeTabIndex = 0;
         }
         setSliderTab(activeTabIndex)
      });

      function setSliderTab(currentTab) {
         selectedTabID = 'tab_' + currentTab;

         alltabs.forEach(el => $(el).removeClass('activetab'))
         $(alltabs[currentTab]).addClass('activetab')

         $(outerWrapper).find(tabContentWrap).removeAttr('class').addClass(selectedTabID);
      }

      // END ADD-ON FOR BACK AND FORWARD BUTTONS

   }

</script>



<script>
   // Individual tabs

   function makeTabCarousel(outerWrapper, numOfTabs) {
      // find tabs within the designated container
      var tabs = document.querySelector(outerWrapper).getElementsByClassName('tab');
      for (var i = 0; i < tabs.length; i++) {
         tabs[i].addEventListener('click', toggleTab);
         tabs[i].dataset.index = i;
      }

      // find slides within the designated container
      var tabContents = document.querySelector(outerWrapper).getElementsByTagName('section');
      for (var i = 0; i < tabContents.length; i++) {
         tabContents[i].dataset.index = i;
      }

      // Apply active class to first tab automatically
      tabs[0].classList.add('activetab')
      tabContents[0].classList.add('activeslide')

      // Create indexable array from tabs and slides
      const alltabs = Array.from(tabs)
      const alltabContents = Array.from(tabContents)

      function toggleTab() {
         removeActive()
         // Get index of clicked tab
         activeTabIndex = parseInt(this.dataset.index);
         // Apply active class to selected tab
         $(this).addClass('activetab')
         // Apply active class to slide with matching index
         $(alltabContents[activeTabIndex]).addClass('activeslide')
      }

      function removeActive() {
         // removes active class from every tab except the one clicked 
         alltabs.forEach(el => $(el).removeClass('activetab'))
         // removes active class from every slide except the one clicked 
         alltabContents.forEach(el => $(el).removeClass('activeslide'))
      }


      // FOR BACK AND FORWARD BUTTONS, IF INCLUDING

      numOfTabs = numOfTabs - 1; // Convert number of tabs to equivalent index value since index starts at 0
      activeTabIndex = 0; // Index of active tab

      // When clicking prev, decrease index by 1. If index goes below number of tabs, loop from the end
      document.querySelector(outerWrapper + ' .prev').addEventListener('click', function (e) {
         activeTabIndex = activeTabIndex - 1;
         if (+activeTabIndex < 0) {
            activeTabIndex = numOfTabs;
         }
         setTab(activeTabIndex)
      });

      // When clicking next, increase index by 1. If index exceeds number of tabs, loop from the beginning
      document.querySelector(outerWrapper + ' .next').addEventListener('click', function (e) {
         activeTabIndex = activeTabIndex + 1;
         if (+activeTabIndex > numOfTabs) {
            activeTabIndex = 0;
         }
         setTab(activeTabIndex)
      });

      function setTab(currentTab) {
         removeActive();
         $(alltabs[currentTab]).addClass('activetab')
         $(alltabContents[currentTab]).addClass('activeslide')
      }
      // END ADD-ON FOR BACK AND FORWARD BUTTONS

   }

</script>





<script>
   makeTabsSlider('.tabgroup1', '#slideswrapper', 4)
   makeTabCarousel('.tabgroup2', 4)
</script>