<!DOCTYPE html>

<head>
   <link href="../css-templates.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <link href="vellum.css" rel="stylesheet">
</head>


<style>
   .canvaslabel {
      margin-left: 100px;
      margin-right: 20px;
      width: 150px;
      text-align: center;
      margin: 30px auto 0;
   }


   @media only screen and (max-width: 480px) {
      .canvaslabel {
         margin: 50px auto 30px;
         text-align: center;
         width: auto;
      }
   }
</style>





<!-- Banner image -->
<div class="canvaslabel">With Banner</div>


<div id="vellum" class="vellum withbanner">
   <div class="velluminner">
      <div class="vellumgrid">
         <div class="headertest">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-headerfiller"> </div>
         </div>


         <div class="vellumsidebar">

            <div class="vellumtab vellum_active">
               <div class="vellum-tabtext h2"><span>Overview</span>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span> Optional Icon</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Optional Banner</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Icon + Banner</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span> Slot</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span> Slot</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="pointer"> </div>
         </div>



         <div class="vellumtabbody vellum_active" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Overview</div>
               If no individual banner is provided, it uses the default. Sint hamburger cupim, fatback in pig prosciutto tenderloin. Salami short loin ut andouille tongue in ut pork loin alcatra. Buffalo beef ribs duis culpa adipisicing reprehenderit voluptate proident anim tail pariatur aliqua leberkas veniam. Adipisicing laborum aliquip, ball tip beef ribs kielbasa anim. Alcatra qui culpa ut veniam, short ribs beef ribs pariatur in.
               <hr>
               <div class="h3">Heading</div>
               In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.

               <div class="h3">Heading</div>
               In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.
            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://i.ibb.co/vLW4LBW/41.png">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Optional Icon</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:url(https://lh3.google.com/u/0/d/1_o7ERWEWVyvEG4bnpFsugITCyxcfG2Q2=w2360-h1048-iv1)">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Optional Banner</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner: url(https://lh3.google.com/u/0/d/1GlRJEjLbVWsjHFTFFJf0SOj85zBUV77M=w2360-h1048-iv1)">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://via.placeholder.com/90x90/666/FFFFFF/" class="vellum-vellum-icon">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Icon + Banner</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://via.placeholder.com/90x90/666/FFFFFF/" class="vellum-vellum-icon">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Slot</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://via.placeholder.com/90x90/666/FFFFFF/" class="vellum-vellum-icon">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Slot</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>



      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
</div>







<div id="vellum" class="vellum withbanner">
   <div class="velluminner">
      <div class="vellumgrid">
         <div class="headertest">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-headerfiller"> </div>
         </div>


         <div class="vellumsidebar">

            <div class="vellumtab vellum_active">
               <div class="vellum-tabtext h2"><span>Overview</span>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span> Optional Icon</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Optional Banner</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Icon + Banner</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span> Slot</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span> Slot</span>
                  <div class="h6">Open</div>
               </div>
            </div>

            <div class="pointer"> </div>
         </div>



         <div class="vellumtabbody vellum_active" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Overview</div>
               If no individual banner is provided, it uses the default. Sint hamburger cupim, fatback in pig prosciutto tenderloin. Salami short loin ut andouille tongue in ut pork loin alcatra. Buffalo beef ribs duis culpa adipisicing reprehenderit voluptate proident anim tail pariatur aliqua leberkas veniam. Adipisicing laborum aliquip, ball tip beef ribs kielbasa anim. Alcatra qui culpa ut veniam, short ribs beef ribs pariatur in.
               <hr>
               <div class="h3">Heading</div>
               In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.

               <div class="h3">Heading</div>
               In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.
            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://i.ibb.co/vLW4LBW/41.png">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Optional Icon</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:url(https://lh3.google.com/u/0/d/1_o7ERWEWVyvEG4bnpFsugITCyxcfG2Q2=w2360-h1048-iv1)">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Optional Banner</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner: url(https://lh3.google.com/u/0/d/1GlRJEjLbVWsjHFTFFJf0SOj85zBUV77M=w2360-h1048-iv1)">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://via.placeholder.com/90x90/666/FFFFFF/" class="vellum-vellum-icon">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Icon + Banner</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://via.placeholder.com/90x90/666/FFFFFF/" class="vellum-vellum-icon">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Slot</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>


         <div class="vellumtabbody" style="--charbanner:">
            <div class="vellum-headergradient"> </div>
            <div class="vellum-charbanner"> </div>
            <img class="fadesin" src="https://via.placeholder.com/90x90/666/FFFFFF/" class="vellum-vellum-icon">
            <div class="textarea fadesin graf scrolls">
               <div class="h1 fadesin">Slot</div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>

            </div>
         </div>



      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
</div>







<!-- No banner image -->
<div class="canvaslabel">Bannerless</div>


<div id="vellum" class="vellum wheadshots">
   <div class="velluminner vellumtexture">
      <div class="vellumgrid">


         <div class="vellumsidebar">

            <div class="vellumtab vellum_active">
               <div class="vellum-tabtext h2">
                  <span>Aardvark</span>
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Badger</span>
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Chickadee</span>
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Dodo</span>
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Echidna</span>
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </div>

            <div class="vellumtab">
               <div class="vellum-tabtext h2">
                  <span>Fox</span>
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </div>

            <div class="pointer"> </div>
         </div>


         <div class="vellumtabbody scrolls vellum_active">
            <div class="titlerow">
               <div class="h1 fadesin">Aardvark</div>
            </div>
            <div class="textarea fadesin graf">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.
               <hr>
               <div class="h3">Heading</div>
               In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.
               <div class="h3">Heading</div>
               In flank chuck buffalo ham exercitation pig incididunt tongue non cupidatat excepteur pork chop prosciutto.

            </div>
         </div>


         <div class="vellumtabbody scrolls">
            <div class="titlerow">
               <div class="h1 fadesin">Badger</div>
            </div>
            <div class="textarea fadesin graf">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.

            </div>
         </div>


         <div class="vellumtabbody scrolls">
            <div class="titlerow">
               <div class="h1 fadesin">Chickadee</div>
            </div>
            <div class="textarea fadesin graf">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.

            </div>
         </div>


         <div class="vellumtabbody scrolls">
            <div class="titlerow">
               <div class="h1 fadesin">Dodo</div>
            </div>
            <div class="textarea fadesin graf">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.

            </div>
         </div>


         <div class="vellumtabbody scrolls">
            <div class="titlerow">
               <div class="h1 fadesin">Echidna</div>
            </div>
            <div class="textarea fadesin graf">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.

            </div>
         </div>


         <div class="vellumtabbody scrolls">
            <div class="titlerow">
               <div class="h1 fadesin">Fox</div>
            </div>
            <div class="textarea fadesin graf">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Species</b> Unknown <br>
                  <b>Group</b> – <br>
                  <b>FC Rec</b> –
               </div>
               Porchetta culpa consectetur turducken eu in kielbasa tempor in non cupidatat reprehenderit. Tri-tip magna ut nulla occaecat venison Chicken adipisicing chuck excepteur elit enim dolor turkey mollit.

            </div>
         </div>


      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
</div>




<!-- Directory Post -->
<div class="canvaslabel">Member Directory</div>


<div class="vellum vellumooc">
   <div class="velluminner vellumtexture">

      <div class="vellumgrid">
         <div class="titlerow">
            <div class="h1">OOC Name</div>
         </div>

         <div class="vellumtabbody">
            <div class="textarea graf scrolls">
               <div class="statsbox h5">
                  <b>Age</b> ## <br>
                  <b>Pronouns</b> He/She/They <br>
                  <b>Timezone</b> All <br>
                  <b>Contact</b> Discord <br>
               </div>
               Nisl suspendisse euismod a integer vel commodo leo. Enim tortor arcu sit eros justo posuere mattis. Cursus viverra id ut neque vitae orci. Eu commodo at ullamcorper elit tincidunt nibh. Tincidunt ipsum bibendum id nibh tellus. Nisi, at scelerisque amet
               <a href="#">A link</a> and <b>bold</b> text.
            </div>
         </div>



         <div class="vellumsidebar">

            <a href="#" class="vellumtab">
               <div class="vellum-tabtext h2">Magpie
                  <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </a>

            <a href="#" class="vellumtab">
               <div class="vellum-tabtext h2">
                  Newt <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </a>

            <a href="#" class="vellumtab">
               <div class="vellum-tabtext h2">
                  Otter <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </a>

            <a href="#" class="vellumtab">
               <div class="vellum-tabtext h2">
                  Possum <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </a>

            <a href="#" class="vellumtab">
               <div class="vellum-tabtext h2">
                  Quokka <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </a>

            <a href="#" class="vellumtab">
               <div class="vellum-tabtext h2">
                  Raccoon <div class="h6">## / human / group</div>
               </div>
               <img class="vellum-icon" src="../assets/100x100-deku-83.jpg">
            </a>


         </div>
      </div>
   </div>
   <a href="http://pixel-perfect.boards.net/user/2465" class="gimcredits">made by gimmick</a>
</div>




<script src='https://codepen.io/breezescodes/pen/NWPyXNv.js'></script>
<script>
   LOCALT3('vellum', 'vellumtab', 'vellumtabbody');

   // Move pointer
   // www.youtube.com/watch?v=KEpFL8Mr_XU
   document.querySelectorAll('.vellum').forEach(function (elem) {
      var marker = elem.querySelector('.pointer')
      var item = elem.querySelectorAll('.vellumtab')
      var increment = $(item).outerHeight(true) / 2 - 6; // centers in cell

      function indicator(e) {
         marker.style.top = e.offsetTop + increment + 'px';
      }

      item.forEach(link => {
         link.addEventListener('click', (e) => {
            indicator(e.target);
         })
      })

   });
</script>