@font-face {
   font-family: 'Academy';
   src: url('AcademyC.otf');
   src: url('AcademyC.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Academy';
   src: url('AcademyC-Italic.otf');
   src: url('AcademyC-Italic.otf') format('opentype');
   font-weight: normal;
   font-style: italic;
}


@font-face {
   font-family: 'Academy';
   src: url('AcademyC-Bold.otf');
   src: url('AcademyC-Bold.otf') format('opentype');
   font-weight: bold;
   font-style: normal;
}


@font-face {
   font-family: 'AcademyEngravedStd';
   src: url('AcademyEngravedStd.otf');
   src: url('AcademyEngravedStd.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}


:root {
   /* COLORS */

   --mainColor: 146 8% 30%;
   --mainColor-1: 149 17% 37%;
   --mainColor-2: 116 13% 46%;
   --mainColor-3: 116 16% 55%;
   --accentColor-1: 15 15% 30%;
   --accentColor-2: 15 19% 45%;
   --lineart: var(--accentColor-1);

   --strokePrimary: 146 8% 25%;
   --strokeSecondary: 146 12% 40%;
   --textPrimary: 146 8% 20%;
   --textSecondary: 146 4% 40%;

   --bgPrimary: 45 4% 70%;
   --bgSecondary: 45 3% 68%;
   --bgTertiary: 45 6% 62%;
   --bgOverlay: 45 4% 73%;
   --toggleBlack: 145 15% 16%;
   --toggleWhite: 145 3% 80%;
   --permBlack: 145 15% 16%;
   --permWhite: 145 3% 80%;

   --unknowing: 250 20% 43%;
   --pointed: 14 30% 44%;
   --brimmed: 122 14% 43%;

   --frameoffset: 0px;
   --navgradient: linear-gradient(to right, hsl(var(--mainColor)) 50%, rgba(0, 0, 0, 0) 80%);
   --navgradient: hsl(var(--mainColor));


   /* TYPOGRAPHY */

   /* For hero */
   --fontHero: 'AcademyEngravedStd';
   --fontHero2: 'Academy';

   /* for body */
   --fontBodySerif: 'Ibarra Real Nova', arial;

   --textSerif12: 12px/1.4em var(--fontBodySerif);
   --textSerif14: 14px/1.4em var(--fontBodySerif);
   --textSerif16: 16px/1.3em var(--fontBodySerif);
   --textSerif18: 18px/1.3em var(--fontBodySerif);

   --textHero14: 14px/1em var(--fontHero);
   --textHero16: 16px/1em var(--fontHero);
   --textHero18: 18px/1em var(--fontHero);
   --textHero20: 20px/1em var(--fontHero);
   --textHero24: 24px/1em var(--fontHero);
   --textHero28: 28px/1em var(--fontHero);
   --textHero32: 32px/1em var(--fontHero);
   --textHero36: 36px/1em var(--fontHero);
   --textHero40: 40px/1em var(--fontHero);
   --textHero52: 52px/1em var(--fontHero);
   --textHero60: 60px/1em var(--fontHero);
   --textHero64: 64px/1em var(--fontHero);
}

html {
   -webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   padding-bottom: 50px;
   background: hsl(var(--mainColor));
   font: var(--textSerif18);
   color: hsl(var(--textPrimary));
   scroll-behavior: smooth;
}

.grp-staff {
   --membercolor: var(--staff, (var(--accentColor-2)));

}

.grp-unsorted {
   --membercolor: var(--unsorted, var(--mainColor-2));
}

.grp-pointed {
   --membercolor: var(--pointed, var(--mainColor-2));
}

.grp-brimmed {
   --membercolor: var(--brimmed, var(--mainColor-2));
}

.grp-unknowing {
   --membercolor: var(--unknowing, var(--mainColor-2));
}

* {
   position: relative;
   box-sizing: border-box;
}

body {
   all: unset;
}

.bodybg {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100vw;
   height: 100vh;
   background: linear-gradient(0deg, hsl(var(--strokeSecondary)), transparent 95%);
   mask: url(assets/final-landscape.png) center / cover;
   z-index: -1;
   opacity: .4;
}


a {
   cursor: pointer;
   color: inherit;
}


.maxwidth {
   width: 100%;
   min-width: 1000px;
   max-width: 1150px;
   padding: 0 16px;
   margin: 0 auto;
}

#topnav a,
#header a,
.forumrow a,
.cat-outerwrapper a {
   text-decoration: none;
}


#clicktodismiss {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: hsl(var(--mainColor));
   z-index: 200;
}



/* SCROLLBAR */

.maxwidth ::-webkit-scrollbar {
   width: 3px !important;
   background: hsl(var(--bgTertiary) / 80%);
   border: 0;
}

.maxwidth ::-webkit-scrollbar-thumb {
   width: 5px;
   background: hsl(var(--mainColor-1));
   border: 0;
}

.maxwidth ::-webkit-scrollbar-track,
.maxwidth ::-webkit-scrollbar-track-piece {
   background: rgba(0, 0, 0, 0);
   border: 0;
}





/* TOP NAV */

/* hero-img 250
navpanel 230 
clicktodismiss 200
topnav 150
topnavline 140 */

#topnav {
   position: sticky;
   top: 0;
   display: grid;
   align-items: center;
   grid-template: 'linksrow buttonwell' 48px / 1fr auto;
   background: hsl(var(--mainColor));
   font: var(--textSerif12);
   text-transform: uppercase;
   letter-spacing: 2px;
   white-space: nowrap;
   color: hsl(var(--permWhite));
   z-index: 150;
   width: 100%;
}


#topnavline {
   position: sticky;
   top: 0;
   width: min(100%, calc(1150px));
   /* ^ subtract padding of maxwidth */
   height: 49px;
   margin: auto;
   margin-top: -48px;
   background: var(--navgradient);
   border-bottom: 1px solid hsl(var(--bgPrimary));
   transition: background .3s ease;
   z-index: 135;
   box-shadow: 45px -1px hsl(var(--mainColor));

}

.topnav-links,
#topnav #navstrip {
   grid-area: linksrow;
   display: flex;
   align-items: center;
   gap: 2ch;
}

#topnav a {
   font: var(--textSerif12);
   color: hsl(var(--permWhite));
   text-transform: uppercase;
   letter-spacing: 2px;
   white-space: nowrap;
   -webkit-text-stroke: .5px hsl(var(--permWhite));
   /* text-shadow: 0 0 2px hsl(var(--mainColor)), 0 0 2px hsl(var(--mainColor)), 0 0 2px hsl(var(--mainColor)), 0 0 2px hsl(var(--mainColor)), 0 0 3px hsl(var(--mainColor)), 0 0 3px hsl(var(--mainColor)), 0 0 3px hsl(var(--mainColor)), 0 0 3px hsl(var(--mainColor)); */
}

.topnav-textbutton {
   display: inline-block;
   padding: 6px 8px;
   font: inherit;
   letter-spacing: 1px;
   background: hsl(var(--mainColor));
   border: 1px solid hsl(var(--bgTertiary));
}

.alertbadge {
   position: absolute;
   top: -3px;
   right: -4px;
   width: 8px;
   aspect-ratio: 1;
   border-radius: 100%;
   background: hsl(var(--mainColor-3));
   display: none;
}

#topnav #navstrip {
   width: 100%;
   overflow: auto;
}

#navstrip::-webkit-scrollbar {
   display: none;
}

#navstrip a:first-child {
   margin-left: -.5ch;
}

.topnav-iconbutton {
   grid-area: buttonwell;
   padding: 0 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-left: 1px solid hsl(var(--permWhite));
   font-size: 16px;
   cursor: pointer;
}


#topnav #navstrip,
.topnav-iconbutton {
   display: none;
}

@media only screen and (max-width: 900px) {
   #topnav {
      min-width: unset;
      max-width: unset;
      margin-bottom: unset;
      padding: 0;
      border-bottom: .5px solid hsl(var(--permWhite));
      z-index: 230;
   }

   #topnav.openmenu {
      background: hsl(var(--permBlack) / 90%);
      border-color: hsl(var(--strokeSecondary));
   }

   .topnav-links,
   .topnav-textbutton,
   #topnavline {
      display: none;
   }

   #topnav #navstrip,
   .topnav-iconbutton {
      display: flex;
      height: 100%;
      align-items: center;
   }

   #topnav #navstrip {
      padding-right: 24px;
   }


   .topnav-iconbutton.floating {
      display: flex;
      position: fixed;
      right: 16px;
      top: 64px;
      width: 48px;
      height: 48px;
      color: hsl(var(--permWhite));
      background: hsl(var(--mainColor));
      border: 1px solid hsl(var(--permWhite));
      z-index: 200;
   }

}





/* HEADER */

#header {
   width: 100%;
   margin-top: -80px;
   height: 700px;
   overflow: hidden;
   background: radial-gradient(ellipse, hsl(var(--mainColor)), hsl(var(--mainColor)) 40%, transparent 75%);
}

.hero-text {
   margin-top: 280px;
   width: calc(50% - 96px);
   min-width: 480px;
   height: 100%;
   text-align: right;
   color: hsl(var(--mainColor));
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   transition: .5s ease;
}

h1 {
   width: 450px;
   text-align: right;
   margin: unset;
   font-size: min(18vw, 120px);
   line-height: 1em;
   font-family: var(--fontHero);
   font-weight: normal;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: hsl(var(--mainColor));
   text-shadow: 0 0 2px hsl(var(--permWhite)), 0 0 1px hsl(var(--permWhite)), 0 0 1px hsl(var(--permWhite)), 0px 0 1px hsl(var(--mainColor));
   overflow-wrap: break-word;
}

h3 {
   margin: unset;
   margin-right: 8px;
   font: var(--textHero20);
   font-family: var(--fontHero2);
   text-transform: uppercase;
   letter-spacing: 3px;
   color: hsl(var(--permWhite));
   height: 336px;
   opacity: .5;
}


h3 .shape {
   margin-top: -50px;
}

.hero-img {
   position: absolute;
   bottom: 0;
   left: 40%;
   left: calc(50% - 150px);
   width: 100%;
   height: calc(100% + 100px);
   background: url('hero-render.png');
   background-position: 0 bottom;
   background-size: 652px;
   background-size: 600px;
   background-repeat: no-repeat;
   transition: .5s ease;
   pointer-events: none;
   filter: contrast(.8) saturate(.85) sepia(0);
   z-index: 200;
}

.hero-arches {
   position: absolute;
   bottom: 0;
   left: 35%;
   left: calc(45% - 150px);
   display: block;
   width: 636px;
   height: 100%;
   background: url('hero-arches.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center bottom;
   filter: brightness(.5);
   mix-blend-mode: overlay;
   opacity: 1;
   transition: .5s ease;
   z-index: 110;
}


.hero-colorfield {
   position: absolute;
   width: 720px;
   height: 900px;
   top: 362px;
   left: 400px;
   top: calc(50% - 30%);
   left: calc(45% - 150px);
   mix-blend-mode: soft-light;
   border: 2px dashed hsl(var(--bgTertiary));
   border-left: 0;
   border-radius: 360px 360px 0 0;
   z-index: -1;
   transition: .5s ease;
}

.openmenu #navpanel,
#navpanel.openmenu {
   opacity: 1;
   z-index: 230;
   pointer-events: unset;
}

/* .openmenu .hero-img {
   background-position: 100px bottom;
}

.openmenu .hero-arches {
   opacity: 0;
}

.openmenu .hero-text {
   transform: translate(300px);
   opacity: 0;
}

.openmenu .hero-colorfield {
   opacity: 0;
} */

.hero-texture {
   position: absolute;
   width: 780px;
   height: 800px;
   top: 20%;
   left: 30%;
   background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
      radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
      radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
      radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
   background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
   background-position: 0 0, 130px 270px, 70px 80px;
   background-blend-mode: soft-light;
   opacity: 0.8;
   transition: .5s ease;
}



/* NAV PANEL */

#navpanel {
   position: fixed;
   top: 90px;
   left: 50%;
   padding: 6px;
   transform: translateX(-50%);
   color: hsl(var(--bgTertiary));
   border: 1px solid hsl(var(--permBlack) / 90%);
   opacity: 0;
   pointer-events: none;
   transition: .2s ease;
}

.navpanel-layout {
   width: 900px;
   height: calc(100% - 68px);
   display: grid;
   grid-template: 'content hover' / 1fr auto;
   justify-content: space-between;
   background-color: hsl(var(--permBlack) / 90%);
   /* background-image: radial-gradient(hsl(var(--strokePrimary)) 1%, transparent 2%),
      radial-gradient(hsl(var(--strokePrimary)) 1%, transparent 2%); */
   background-size: 40px 40px;
   background-position: 0 0, 20px 20px;
   backdrop-filter: blur(5px);
}

.navpanel-close {
   position: absolute;
   top: 0;
   right: 0;
   width: 48px;
   aspect-ratio: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   background: hsl(var(--accentColor-1));
   background: #00000040;
   border: 1px solid hsl(var(--permBlack));
   font-size: 24px;
   z-index: 10;
}

.navpanel-left {
   padding: 32px 36px 32px 32px;
   display: grid;
   align-content: space-between;
   grid-template: auto auto 1fr / 1fr;
}

.navpanel-right {
   padding: 32px;
   background: #00000030;
}

.navpanel-hover {
   display: block;
   width: 250px;
   height: 450px;
   object-fit: cover;
   opacity: .9;
   background: hsl(var(--permBlack));
}

.navpanel-header {
   margin-bottom: 24px;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between;
   gap: 20px !important;
   padding-bottom: 24px;
   border-bottom: 1px solid hsl(var(--strokeSecondary) / 30%);

}

.login-avi {
   width: fit-content;
   height: fit-content;
   padding: 6px;
   border: 1px solid hsl(var(--strokeSecondary) / 30%);
}

.login-avi img {
   width: 80px;
   height: 80px;
   object-fit: cover;
   display: block;
}

.navpanel-header h5 {
   margin: unset;
   margin-bottom: 1em;
   font: var(--textHero14);
   text-transform: uppercase;
   letter-spacing: 1px;
}

.login-name {
   margin: 0;
   padding: 0;
   background: transparent;
   border: unset;
   font: var(--textHero40);
   box-shadow: none;
}

.navpanel-buttons {
   display: flex;
   gap: .5em;
}

#subaccounts_menu {
   display: inline-flex;
}

.navpanel-button,
#subaccounts_menu .forminput {
   display: inline-flex;
   align-items: center;
   height: 28px;
   padding: 0 10px;
   font-size: 11px;
   font-family: var(--fontHero2);
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-decoration: none;
   color: hsl(var(--permWhite) / 80%);
   background: hsl(var(--strokePrimary));
   background: #00000030;
   border: 1px solid hsl(var(--strokeSecondary) / 30%);
}

.badgecounter {
   margin-right: .5ch;
}


.quicklinklabel {
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: var(--fontHero2);
   letter-spacing: 2px;
   padding: 0 0 6px;
   color: hsl(var(--mainColor-2));
}

.quicklinklabel::after {
   content: '';
   display: block;
   margin-top: 8px;
   width: 40px;
   height: 1px;
   border-bottom: 1px dotted hsl(var(--permWhite) / 50%);
}

.navpanel-quicklinks {
   gap: 20px;
   display: flex;
   align-items: flex-end;
   padding-bottom: 20px;
}

.navpanel-quicklinks .flexcolumn {
   gap: 6px;
   flex: 1 0 1px;
}

.navpanel-quicklinks a {
   display: block;
   margin-bottom: 6px;
   font: var(--textSerif16);
   font-weight: 500;
   letter-spacing: .5px;
   color: hsl(var(--bgOverlay));
   text-decoration: none;
   transition: .5s ease;
}

.mainlinks {
   display: none;
}

.navpanel-event {
   margin-left: 2.5px;
   width: calc(100% - 12px);
   height: 80px;
   border: 1px dotted hsl(var(--accentColor-1));
   box-shadow: 0 0 0 2px hsl(var(--mainColor)), 0 0 0 2.5px hsl(var(--accentColor-1));
   padding: 4px;
}

.navpanel-event img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}





/* BODY */

#bodywrapper {
   /* background: hsl(var(--bgTertiary)); */
   height: fit-content;
}

/*
.bodyinner {
   padding: 24px 48px 40px;
   width: calc(100% - 12px);
   margin: auto;
} */

.breadcrumbs {
   margin: 0 0 48px;
   display: flex;
   justify-content: flex-start;
   gap: 0;
   flex-wrap: wrap;
}

.breadcrumbs+.categoryLabel {
   margin-top: 0;
}

.breadcrumbs>a {
   font: 800 14px/1em var(--fontBodySerif);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: hsl(var(--permWhite));
}

.breadcrumbs a:first-child {
   color: hsl(var(--mainColor-3));
   white-space: nowrap;
}

.breadcrumbs a:first-child::after {
   content: '';
   height: 14px;
   width: 1px;
   margin: 0 10px -2px;
   display: inline-block;
   background: hsl(var(--permWhite));
}

.breadcrumbs a:not(:first-child)::after {
   content: '–';
   margin: 0 6px 0;
   background: transparent;
   height: 0;
}

.breadcrumbs a:last-child::after {
   content: '';
}




/* FANCY BORDERS */

.frameinset_1 {
   padding: 3px 0;
   background: hsl(var(--bgTertiary));
   border: 1px solid hsl(var(--strokePrimary));
}

.frameinset_2 {
   height: 100%;
   padding: 3px 0;
   background: hsl(var(--bgTertiary));
   border-style: dotted;
   border-left: 0;
   border-right: 0;
}

.doubleframe {
   border: 1px solid hsl(var(--strokePrimary));
   box-shadow: inset 0 0 0 4px hsl(var(--bgOverlay)), inset 0 0 0 5px hsl(var(--strokePrimary));
}

.scoopedbox svg {
   display: none;
}

a.scoopedbox {
   display: block;
}

.scoopedbox {
   /* border color */
   box-sizing: border-box;
   background: hsl(var(--strokePrimary));
   clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 8px), 0% 8px);
}

.scoopedbox::before {
   /* "transparent" */
   content: '';
   position: absolute;
   top: 1px;
   left: 1px;
   width: calc(100% - 2px);
   height: calc(100% - 2px);
   background-color: hsl(var(--bgPrimary));
   background-blend-mode: multiply;
   z-index: -1;
   clip-path: polygon(9.5px 0%, calc(100% - 9.5px) 0%, 100% 7.5px, 100% calc(100% - 7.5px), calc(100% - 9.5px) 100%, 9.5px 100%, 0% calc(100% - 7.5px), 0% 7px);
   transition: .5s ease;
}

a.scoopedbox:hover::before,
.tab.scoopedbox:hover::before {
   background: hsl(var(--strokePrimary));
}



.doublescooped {
   width: 100%;
   height: 100%;
   background-image: radial-gradient(circle at 0 0,
         hsl(var(--bgPrimary)) 20px,
         hsl(var(--strokeSecondary)) 20px,
         hsl(var(--strokeSecondary)) 21px,
         transparent 21px),
      radial-gradient(circle at 100% 0,
         hsl(var(--bgPrimary)) 20px,
         hsl(var(--strokeSecondary)) 20px,
         hsl(var(--strokeSecondary)) 21px,
         transparent 21px),
      radial-gradient(circle at 0 100%,
         hsl(var(--bgPrimary)) 20px,
         hsl(var(--strokeSecondary)) 20px,
         hsl(var(--strokeSecondary)) 21px,
         transparent 21px),
      radial-gradient(circle at 100% 100%,
         hsl(var(--bgPrimary)) 20px,
         hsl(var(--strokeSecondary)) 20px,
         hsl(var(--strokeSecondary)) 21px,
         transparent 21px);
}

.doublescooped::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: calc(100% - 40px);
   transform: translate(-50%, -50%);
   border-left: 1px solid hsl(var(--strokeSecondary));
   border-right: 1px solid hsl(var(--strokeSecondary));
}

.doublescooped::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: calc(100% - 40px);
   height: 100%;
   transform: translate(-50%, -50%);
   border-top: 1px solid hsl(var(--strokeSecondary));
   border-bottom: 1px solid hsl(var(--strokeSecondary));
}

.doublescoopedouter {
   z-index: 2;
   position: absolute;
   top: -8px;
   left: -8px;
   width: calc(100% + 16px);
   height: calc(100% + 16px);
   padding: 8px;
   background-image: radial-gradient(circle at 0 0,
         rgba(255, 0, 0, 0) 40px,
         hsl(var(--strokeSecondary)) 40px,
         hsl(var(--strokeSecondary)) 41px,
         transparent 41px),
      radial-gradient(circle at 100% 0,
         rgba(255, 0, 0, 0) 40px,
         hsl(var(--strokeSecondary)) 40px,
         hsl(var(--strokeSecondary)) 41px,
         transparent 41px),
      radial-gradient(circle at 0 100%,
         rgba(255, 0, 0, 0) 40px,
         hsl(var(--strokeSecondary)) 40px,
         hsl(var(--strokeSecondary)) 41px,
         transparent 41px),
      radial-gradient(circle at 100% 100%,
         rgba(255, 0, 0, 0) 40px,
         hsl(var(--strokeSecondary)) 40px,
         hsl(var(--strokeSecondary)) 41px,
         rgba(0, 0, 255, 0) 41px);
   /* display: grid;
   place-items: center; */
}

.doublescoopedouter::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: calc(100% - 80px);
   transform: translate(-50%, -50%);
   border-left: 1px solid hsl(var(--strokeSecondary));
   border-right: 1px solid hsl(var(--strokeSecondary));
}

.doublescoopedouter::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: calc(100% - 80px);
   height: 100%;
   transform: translate(-50%, -50%);
   border-top: 1px solid hsl(var(--strokeSecondary));
   border-bottom: 1px solid hsl(var(--strokeSecondary));
}

.frameshadow {
   /* border: 1px dotted hsl(var(--mainColor));
   box-shadow:
      inset 0 0 0px 2px hsl(var(--bgTertiary)), inset 0 0 0px 3px hsl(var(--mainColor)), inset 0 0 0px 4px hsl(var(--bgTertiary)), inset 0 0 0px 4.5px hsl(var(--mainColor)), inset 0 0 0px 8.5px hsl(var(--bgTertiary)), inset 0 0 0px 11.5px hsl(var(--mainColor)), inset 0 0 0px 13.5px hsl(var(--bgTertiary)), inset 0 0 0px 14px hsl(var(--mainColor));

   box-shadow: 0 0 0 2px hsl(var(--bgTertiary)), 0 0 0 3px hsl(var(--mainColor)), 0 0 0 4px hsl(var(--bgTertiary)), 0 0 0 5px hsl(var(--mainColor)),
      inset 0 0 0px 2px hsl(var(--bgTertiary)), inset 0 0 0px 3px hsl(var(--mainColor)), inset 0 0 0px 4px hsl(var(--bgTertiary)), inset 0 0 0px 4.5px hsl(var(--mainColor)), inset 0 0 0px 8.5px hsl(var(--bgTertiary)), inset 0 0 0px 11.5px hsl(var(--mainColor)), inset 0 0 0px 13.5px hsl(var(--bgTertiary)), inset 0 0 0px 14px hsl(var(--mainColor)); */
}



/* CATEGORY DEFAULTS */

.textured {
   background: hsl(var(--bgPrimary));
}

.textured::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: calc(100% - var(--frameoffset));
   height: calc(100% - var(--frameoffset));
   background: url(assets/textured-background-white-tone.jpg) center / cover;
   background: url('https://img.freepik.com/free-photo/black-stained-stucco-wall_1194-7562.jpg?t=st=1724213925~exp=1724217525~hmac=b95d4540ff341a60b8b23723d1e878f0f47f15d6ddf35544a0c10898edacf7d5&w=2000') center / cover;
   mix-blend-mode: color-dodge;
   opacity: .15;
   filter: grayscale(1) sepia(.1) contrast(1.2);
   z-index: 0;
   pointer-events: none;

}

.cat-outerwrapper {
   margin: 0 0 40px;
}

.cat-outerwrapper:last-child {
   margin-bottom: 20px;
}

.cat-innerwrap {
   width: 100%;
   background: hsl(var(--bgPrimary));
   border: 1px solid hsl(var(--strokePrimary));
   border-left: 0;
   border-right: 0;
}

.flexcolumn {
   display: flex;
   flex-direction: column;
}

.flexrow {
   display: flex;
   align-items: center;
   gap: 12px
}

.forumname {
   font: var(--textHero28);
   color: hsl(var(--accentColor-2));
}

.lastpost-link,
.lastpost-author,
.lastpost-date {
   font: var(--textSerif14);
}

.lastpost-link a {
   margin-top: 2px;
   font: 700 var(--textSerif14);
   text-transform: uppercase;
   color: hsl(var(--mainColor-2));
}

.lastpost-author a {
   font: 700 var(--textSerif12);
   text-transform: uppercase;
   color: hsl(var(--mainColor-2));
}

.lastpost-avi img {
   width: 54px;
   aspect-ratio: 1;
   object-fit: cover;
   display: block;
   border-radius: 100%;
   pointer-events: none;
}

.lastpost-avi {
   box-shadow: 0 0 0px 2px hsl(var(--bgOverlay)), 0 0 0px 3px hsl(var(--toggleBlack) / 40%);
   padding: 1px;
   border: 1px dotted hsl(var(--toggleBlack) / 40%);
   border-radius: 100%;
   width: fit-content;
   height: fit-content;
}

.forumrow a {
   text-decoration: none;
}

.forumrow-subs a {
   font: 700 14px var(--fontHero);
   font-weight: 300;
   text-align: center;
   transition: .5s ease;
   color: hsl(var(--mainColor));
}












.categoryLabel {
   font: var(--textHero36);
   text-transform: uppercase;
   letter-spacing: 2px;
   color: hsl(var(--bgTertiary));
   margin: 64px 0 0;
   text-align: left;
}

[class*=divider] {
   display: flex;
   align-items: center;
   width: calc(100% - 4px);
   height: fit-content;
   text-align: center;
}


.arrowhead-1::after,
.arrowhead-1::before {
   content: "";
   background: url('arrowhead-1.svg') center / contain;
   background-repeat: no-repeat;
   height: 13px;
   width: 55.5px;
   margin-right: -2px;
   display: block;
}

.categoryLabel .arrowhead-1::after {
   display: none;
}

[class*=divider]::after {
   transform: scaleX(-1);
   margin-right: 0;
   margin-left: -2px;
}

.divider-content {
   background: hsl(var(--strokePrimary));
   height: 1.5px;
   width: calc(100% - 4px);
}

.divider-content::after {
   content: '';
   position: absolute;
   width: 5px;
   height: 5px;
   background: hsl(var(--strokePrimary));
   border-radius: 100%;
   top: calc(50% - 2.5px);
   right: 0
}



[class*=divider][class*=arrowhead-2] {
   display: flex;
   align-items: center;
   width: calc(100% - 4px);
   text-align: center;
}

[class*=arrowhead-2]::before,
[class*=arrowhead-2]::after {
   content: "";
   background: url('arrowhead-2.svg') center / contain;
   background-repeat: no-repeat;
   height: 13px;
   width: 40px;
   display: block;
   margin-right: -5px;
   transform: scale(-1);
}

[class*=arrowhead-2]::after {
   transform: scale(1);
}


[class*=divider][class*=arrowhead-2] .divider-content {
   height: 1px;
}

.lintel {
   width: 100%;
   height: 20px;
   background: hsl(var(--strokePrimary));
   mask: url(assets/final-lintel.png) center / cover;
}






/* WELCOME CENTER */
.welcomecenter {
   margin-bottom: 48px;
}

.welcomecenter-grid {
   background: hsl(var(--bgSecondary));
   border-top: 1px solid hsl(var(--strokePrimary));
   border-bottom: 1px solid hsl(var(--strokePrimary));
   display: grid;
   grid-template: 'tabs body' 224px / 292px 1fr;
   overflow: hidden;
}

.welcomecenter-section-tabs {
   display: flex;
   flex-direction: column;
   gap: 16px;
   padding: 48px 64px;
   background: hsl(var(--accentColor-1));
}

.welcomecenter-section-tabs::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   mask: url(assets/final-welcome.png) bottom center / cover;
   background: hsl(var(--bgSecondary)/20%);
   opacity: .5;
}

.welcomecenter-tab {
   width: 172px;
   height: 56px;
   padding-top: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: hsl(var(--bgPrimary));
   font: var(--textHero20);
   color: hsl(var(--textSecondary));
}

.welcomecenter-tab.active-tab {
   -webkit-text-stroke: 1px hsl(var(--textPrimary));
}

#welcomecenter-section-tabscontent {
   height: 100%;
   transition: .4s ease-out;
}

#welcomecenter-section-tabscontent[class="active-tab-1"] {
   transform: translateY(calc(-100% / 2 * 2));
}

.welcomecenter-section-body {
   display: flex;
   gap: 32px;
   padding: 40px;
   height: 100%;
   box-sizing: border-box;
}

.welcomecenter-blurb {
   overflow: auto;
}

.welcomecenter-linkbox {
   align-items: center;
   min-width: 250px;
   columns: 2;
   padding-left: 32px;
}

.welcomecenter-linkbox a {
   display: block;
   margin-bottom: .5em;
   font: var(--textSerif16);
   font-weight: 500;
   letter-spacing: .5px;
   color: hsl(var(--accentColor-2));
   text-decoration: none;
}


/* CATEGORY: GET STARTED */

.cat-outerwrapper {
   z-index: 2;
}

.cat-getstarted-layout {
   width: calc(100% - var(--frameoffset));
   top: 0;
   left: 0;
   padding: 60px 40px 40px;
   display: grid;
   grid-template: 'guidebook getstartedboards' / 1fr 450px;
   grid-column-gap: 24px;
   z-index: 10;
}

.getstarted-hero {
   position: absolute;
   top: 0;
   width: 100%;
}

.getstarted-hero-img {
   width: 100%;
   height: 232px;
   background: hsl(var(--bgTertiary));
}

.getstarted-hero-img::before,
.getstarted-hero-img::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.getstarted-hero-img::before {
   background: hsl(var(--bgSecondary));
   mask: url(assets/final-parade-fill.png) center / cover;
}

.getstarted-hero-img::after {
   background: hsl(var(--lineart));
   mask: url(assets/final-parade-stroke.png) center / cover;
}

.cat-getstarted-handbook {
   grid-area: guidebook;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

.handbooktext {
   width: min(85%, 372px);
   height: fit-content;
   display: block;
   z-index: 3;
}


.handbook-title {
   display: block;
   margin-bottom: 2px;
   font: var(--textHero64);
   font-variation-settings: 'opsz' 72;
   color: hsl(var(--accentColor-2));
   /* text-shadow: 0 0 1px hsl(var(--mainColor)), 2px 0 0px hsl(var(--mainColor));
   color: hsl(var(--permWhite)); */
}


.handbook-quicklinks {
   display: flex;
   flex-wrap: wrap;
   gap: 12px 8px;
   margin: 12px 0 0;
}

.handbook-quicklinks a {
   padding: 8px 20px;
   font: var(--textSerif16)
}

.handbook-quicklinks a:hover {
   color: hsl(var(--toggleWhite));
}

.cat-getstarted-boards {
   grid-area: getstartedboards;
   background: hsl(var(--bgOverlay));
   padding: 40px 28px;
   z-index: 2;
}

.cat-getstarted .forumrow:not(:last-child) {
   margin: 0 0 48px;
}

.cat-getstarted .forumrow {
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   justify-content: space-between;
}

.cat-getstarted .forumname {
   font-family: var(--fontHero);
   margin-bottom: 6px;
}

.cat-getstarted .lastpost-avi {
   margin-top: 20px;
}

.cat-getstarted .lastpost-avi img {
   width: 64px;
}

.getstarteddivider[class*=divider][class*=arrowhead-2] {
   margin: 12px 0;
}

.getstarteddivider[class*=divider][class*=arrowhead-2]::before,
.getstarteddivider[class*=divider][class*=arrowhead-2]::after {
   display: none;
}



/* CATEGORY: CHARACTER */


.cat-character {
   z-index: 0;
}

.cat-character-layout {
   width: 100%;
   display: grid;
   grid-template-areas: 'plottinghub'
      'rule'
      'dev';
   grid-row-gap: 40px;
   padding: 48px 40px;
   padding-right: 320px;
   z-index: 6;
}

.cat-character-img {
   position: absolute;
   right: 0;
   bottom: 0;
   height: 496px;
}

.cat-character-img::before {
   content: '';
   position: absolute;
   bottom: 0;
   right: 16px;
   width: 259px;
   height: calc(100% - 32px);
   background: hsl(var(--mainColor));
   border-left: 2px solid hsl(var(--lineart));
   border-right: 2px solid hsl(var(--lineart));
}

img.cat-character-hero {
   display: block;
   width: 400px;
   transform: translate(46px, -211.5px);
   opacity: 0;
}

.cat-character-imgsizer {
   width: 100%;
   height: 100%;
   z-index: 4;
}

.cat-character-imgsizer::before,
.cat-character-imgsizer::after {
   content: '';
   position: absolute;
   right: -46px;
   bottom: 0;
   width: 400px;
   height: calc(100% + 211.5px);
}

.cat-character-imgsizer::before {
   background: hsl(var(--bgSecondary));
   mask: url(assets/final-richeh-custas-fill.png) right bottom / cover;
}

.cat-character-imgsizer::after {
   background: hsl(var(--lineart));
   mask: url(assets/final-richeh-custas-stroke.png) right bottom / cover;
}

.cat-character [class*=divider] {
   margin: 0 !important;
}

.cat-character [class*=divider] .divider-content::after {
   display: none;
}

.cat-character .forumrow {
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   justify-content: space-between;
   z-index: 5;
}

.forum-plottinghub {
   grid-area: plottinghub;
   display: grid;
   grid-template-areas: 'name subforums'
      'lastpost subforums';
}

.forum-plottinghub .forumname {
   grid-area: name;
   margin-bottom: 8px;
   font: var(--textHero52);
   color: hsl(var(--accentColor-1))
}


.forum-plottinghub .forumrow-subs {
   grid-area: subforums;
   display: flex;
   flex-direction: column;
   gap: 12px;
   align-items: stretch;
}

.forum-plottinghub .forumrow-subs a {
   padding: 12px 20px 10px;
   min-width: 140px;
   font: var(--textHero18);
   color: hsl(var(--accentColor-1));
   white-space: nowrap;
}

.forum-plottinghub .forumrow-subs a:hover {
   color: hsl(var(--toggleWhite));
}

[id='scoopplot']+use {
   fill: transparent;
   transition: .5s ease;
}

a:hover [id='scoopplot']+use {
   fill: hsl(var(--strokePrimary));
}

.forum-plottinghub .lastpost-avi {
   margin-top: 4px;
}

.forum-plottinghub .lastpost-avi img {
   width: 60px;
}

.plotting-twocol {
   grid-area: dev;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   background-color: hsl(var(--bgOverlay));
}


.plotting-twocol .forumname {
   font-family: var(--fontHero);
   margin-bottom: 6px;
}

.plotting-twocol .forumrow {
   padding: 32px 24px;
   width: 100%;
   z-index: 10;
}

.plotting-twocol .forumrow:first-of-type {
   padding-left: 40px;
}

.plotting-twocol .forumrow:first-of-type::after {
   /* vertical rule */
   content: '';
   position: absolute;
   right: 0;
   top: -8px;
   width: 1px;
   height: calc(100% + 16px);
   background: hsl(var(--strokeSecondary));
}

.plotting-twocol .lastpost-avi {
   display: none;
}




/* CATEGORY: RP PLACES */

.cat-locations-layout {
   height: 590px;
   padding: 0 0 0 40px;
   display: grid;
   grid-template: 'aboutplace placeimage' auto
      'tabbox placeimage' 1fr;
   align-items: flex-start;
   z-index: 5;
}


.forum_locations {
   background: red;
   height: 100%;
}

.cat-locations-layout .forumrow {
   grid-area: aboutplace;
   height: fit-content;
}


.location_info {
   grid-area: aboutplace;
   /* width: min(40vw, 450px); */
   padding: 48px 0 32px;
   opacity: 0;
   z-index: 0;
   transition: opacity 0.5s 0s ease;
}

.location_info .forumname {
   font: var(--textHero40);
   margin-bottom: 4px;
   margin-left: -2px;
   display: block;
   color: hsl(var(--accentColor-1));
}

.location_info .forumdesc {
   font: var(--textSerif16);
   line-height: normal;
   padding-right: 1.5ch;
   height: calc(100% + 4px);
   max-height: 120px;
   margin-bottom: 1.25em;
   overflow-y: auto;
}

.locationtabbox {
   grid-area: tabbox;
   width: max(35%, 400px);
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   z-index: 15;
}

.locationtabbox .tab {
   font: var(--textSerif14);
   min-width: 140px;
   white-space: nowrap;
   padding: 10px 20px 12px;
   text-align: center;
   transition: .25s ease;
   flex: 1 1 0px;
   cursor: pointer;
}

.locationtabbox .tab:hover {
   color: hsl(var(--toggleWhite));
}

.tab.tabbedlocations_active {
   font-family: var(--fontBodySerif);
   font-weight: 700;
   color: hsl(var(--toggleWhite));
}

.scoopedbox.tabbedlocations_active::before {
   background: hsl(var(--strokePrimary));
}

.locationtabbox .tab [id='scoopedtab']+use {
   fill: transparent;
   transition: .5s ease;
}

.locationtabbox .tab:hover [id='scoopedtab']+use {
   fill: hsl(var(--strokePrimary));
}

.tab.tabbedlocations_active [id='scoopedtab']+use {
   fill: hsl(var(--strokePrimary));
}


.windowframe {
   grid-area: placeimage;
   top: -40px;
   right: -29px;
   width: 640px;
   aspect-ratio: 1;
   display: block;
   border-radius: 100%;
   background: hsl(var(--bgSecondary));
   z-index: 1;
}

.windowframe::after {
   content: '';
   top: 0;
   left: 0;
   width: 640px;
   aspect-ratio: 1;
   border-radius: 100%;
   display: block;
   background: hsl(var(--lineart));
   mask: url(assets/final-windowgate-stroke.png) center / cover;
}

#windowcontent {
   position: absolute;
   width: 640px;
   aspect-ratio: 1;
   overflow: hidden;
   padding: 60px;
   border-radius: 100%;
}

.windowbricks {
   position: absolute;
   right: 0;
   top: 0;
   width: 600px;
   height: 100%;
   background: linear-gradient(to bottom left, hsl(var(--lineart) / .8), hsl(var(--lineart) / .25));
   mask: url(assets/final-windowgate-bricks.png) bottom right / cover;
}

[class*='location_photo'] {
   position: absolute;
   width: calc(100% - 120px);
   height: calc(100% - 120px);
   margin: 1px 0 0 1px;
   border: 2px solid hsl(var(--strokePrimary));
   border-radius: 100%;
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0;
   transform: rotate(-45deg);
   transition: opacity 0.5s 0.25s ease, transform .75s 0s ease;
   z-index: 10;
   filter: brightness(.9) sepia(.1);
}

.tabbedlocations_active .location_info,
.active-tab-0 .location_photo-0,
.active-tab-1 .location_photo-1,
.active-tab-2 .location_photo-2,
.active-tab-3 .location_photo-3,
.active-tab-4 .location_photo-4,
.active-tab-5 .location_photo-5,
.active-tab-6 .location_photo-6,
.active-tab-7 .location_photo-7 {
   opacity: 1;
   transform: rotate(0);
   z-index: 10;
}

.tabbedlocations_active .location_info {
   transition-delay: .25s;
}

.location_photo-0 {
   background-image: url(https://bloomreviewsblog.com/wp-content/uploads/2019/10/img054.jpg?w=1010&h=1278);
}

.location_photo-1 {
   background-image: url(https://cdnb.artstation.com/p/assets/images/images/051/291/973/large/sebastian-luca-daily-25.jpg?1656942804);
}

.location_photo-2 {
   background-image: url(https://images-ext-2.discordapp.net/external/9qm1SNu8GBaXc6Dhog3XIL4NvpMFLuTitRIpm85sy4o/%3F1615965568/https/cdnb.artstation.com/p/assets/images/images/035/811/343/large/wei-z-.jpg?width=1412&height=794);
}


/* Start container query test */
/* If locations board gets too narrow to the point window no longer fits, swap to mobile view */

.cat-locations {
   container: test / inline-size
}

@container test (width < 1070px) {
   .windowframe {
      top: 50%;
      right: -3vw;
      transform: translateY(-50%);
   }

   .windowframe,
   .windowframe::after,
   #windowcontent {
      width: max(55vw, 540px);
   }

}

/* End container query test */






/* CATEGORY: OOC */

#cat-3+.categoryLabel {
   text-align: right;
}

.cat-ooc-layout {
   padding: 48px;
   padding-left: 33%;
}

.ooc-hero {
   position: absolute;
   bottom: 0;
   left: -20px;
   width: 410px;
   height: 440px;
   background: hsl(var(--lineart));
   mask: url(assets/euni.png) center / cover;
   transform: scaleX(-100%);
   z-index: 5;
   pointer-events: none;
}

.ooc-twocol {
   grid-area: dev;
   display: flex;
   flex-direction: row;

   justify-content: space-evenly;
   background-color: hsl(var(--bgOverlay));
}


.ooc-twocol .forumname {
   margin-bottom: 6px;
}

.ooc-twocol .forumrow {
   padding: 32px 24px 24px;
   width: 100%;
   z-index: 10;
}

.ooc-twocol .forumrow:first-of-type {
   padding-left: 40px;
}

.ooc-twocol .forumrow:first-of-type::after {
   /* vertical rule */
   content: '';
   position: absolute;
   right: 0%;
   top: -8px;
   width: 1px;
   height: calc(100% + 16px);
   background: hsl(var(--strokeSecondary));
}


.ooc-forumrow-subs {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   margin-top: 16px;
}

.ooc-forumrow-subs a {
   flex: 1 0 0;
   padding: 8px 20px 10px;
   font: var(--textSerif14);
   text-align: center;
}

.ooc-forumrow-subs a:hover {
   color: hsl(var(--toggleWhite));
}

.ooc-forumrow-subs .scoopedbox::before {
   background: hsl(var(--bgOverlay));
}








/* CATEGORY: GENERIC */

.twocolcat {
   margin: 0;
   display: flex;
   gap: 20px;
   width: 100%;
}

.twocolcat .forumrow {
   width: 50%;
}

.cat-default-layout {
   z-index: 5;
   width: 100%;
   height: 100%;
   padding: 100px 40px 40px;
   overflow: hidden;
   display: grid;
   grid-template: 'boardinfo'
      '.'
      'subforums' / 1fr;
   grid-row-gap: 20px;
   justify-content: space-between;
   align-items: flex-start;
}

.cat-default-layout [class*=divider][class*=arrowhead-2] {}

.forum-default-bg {
   position: absolute;
   top: -0px;
   right: 0%;
   width: 100%;
   height: 100%;
   /* background: url('lintel.svg') right -20px top -5px / auto 180px, url('clouds-low.svg') left 10% bottom -100px / 110%;
   background-repeat: no-repeat; */
   mask: url('lintel.svg') right -12px top -5px / auto 180px no-repeat;
   background: hsl(var(--lineart));
   z-index: -1;
}

.forum-default-text {
   grid-area: boardinfo;
}


.cat-default-layout .lastpost.flexrow {
   justify-content: space-between;
}

.twocolcat .forumname {
   font: var(--textHero32);
   margin-left: -2px;
   margin-bottom: 4px;
}

.twocolcat .lastpost-avi {
   grid-area: avi;
}

.twocolcat .lastpost-avi img {
   width: 56px;
}

.twocolcat .forumrow-subs {
   grid-area: subforums;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 16px;
   padding-right: 4px;
}

.twocolcat .forumrow-subs a {
   flex: 1 0 0px;
   min-width: 140px;
   padding: 12px 24px 10px;
   font: var(--textHero16);
   color: hsl(var(--accentColor-1));
}

.twocolcat .forumrow-subs a:hover {
   color: hsl(var(--toggleWhite));
}

[id='scoopdefault']+use {
   fill: transparent;
   transition: .5s ease;
}

a:hover [id='scoopdefault']+use {
   fill: hsl(var(--strokePrimary));
}



/* .cat-ooc-layout .scoopedbox {
   background-image: radial-gradient(circle at 0 0,
         rgba(0, 0, 0, 0) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px)),
      radial-gradient(circle at 100% 0,
         rgba(0, 0, 0, 0) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px)),
      radial-gradient(circle at 0 100%,
         rgba(0, 0, 0, 0) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px)),
      radial-gradient(circle at 100% 100%,
         rgba(0, 0, 0, 0) var(--r),
         rgba(0, 0, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px));
}

.cat-ooc-layout .scoopedbox::before {
   border-color: cyan;
}

.cat-ooc-layout .scoopedbox::after {
   border-color: cyan;
}

.cat-ooc-layout a.scoopedbox:hover {
   background-image: radial-gradient(circle at 0 0,
         hsl(var(--bgPrimary)) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px)),
      radial-gradient(circle at 100% 0,
         hsl(var(--bgPrimary)) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px)),
      radial-gradient(circle at 0 100%,
         hsl(var(--bgPrimary)) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         transparent calc(var(--r) + 1px)),
      radial-gradient(circle at 100% 100%,
         rgba(0, 0, 0, 0) var(--r),
         rgba(255, 100, 0, 1) var(--r),
         rgba(255, 100, 0, 1) calc(var(--r) + 1px),
         hsl(var(--bgPrimary)) calc(var(--r) + 1px));
} */


/* INFOCENTER */

.cat-infocenter-layout {
   display: grid;
   grid-template: 'links rule main recent' 500px / auto auto 2fr 320px;
   z-index: 5;
}

.infocenter-area-main {
   grid-area: main;
   padding: 40px 32px 20px 32px;
}

.infocenter-area-recent {
   grid-area: recent;
   height: 100%;
   margin: 28px 32px 0 0;
}

.infocenter-area-links {
   grid-area: links;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   padding: 8px 16px 4px;
   margin: 24px 0 24px;
   font: 400 16px var(--fontHero);
   color: hsl(var(--accentColor-1));
   -webkit-text-stroke: .25px hsl(var(--textPrimary));
   border-right: 1px solid hsl(var(--strokePrimary));
}

.infocenter-area-links .flexcolumn {
   align-items: center;
   gap: 8px;
}

.linksdivider[class*=divider] {
   /* grid-area: rule; */
   height: calc(100% - 68px) !important;
   margin: 36px -30px 0 0 !important;
   flex-direction: column;
   display: none;
}

.linksdivider[class*=divider][class*=arrowhead-2]::before {
   transform: rotate(90deg) scaleX(-1);
   margin-right: -1px;
}

.linksdivider[class*=divider][class*=arrowhead-2]::after {
   transform: rotate(90deg);
   margin-right: 0;
   display: none;
}


.linksdivider[class*=divider] .divider-content {
   background: hsl(var(--strokePrimary));
   width: 1.5px;
   height: 100%;
}

.linksdivider[class*=divider] .divider-content::after {
   display: none;
}

.infocenter-link-icon {
   height: 52px;
   display: block;
   opacity: 0;
}

[icon] {
   margin-bottom: 4px;
   background: hsl(var(--lineart));
}

[icon='hat'] {
   mask: url(icon-hat.svg) center / cover no-repeat;
}

[icon='book'] {
   mask: url(icon-book.svg) center / cover no-repeat;
}

[icon='lastclick'] {
   mask: url(icon-lastclick.svg) center / cover no-repeat;
}

[icon='brushbug'] {
   mask: url(icon-brushbug.svg) center / cover no-repeat;
}

.infocenter-h1 {
   margin-bottom: 12px;
   font: var(--textHero32);
   color: hsl(var(--accentColor-1));
}

.infocenter-h3 {
   font: bold 14px/1.2em var(--fontBodySerif);
   letter-spacing: .4px;
}

[class*=divider]+.infocenter-h3 {
   margin-top: -4px;
}

.onlinenowbox {
   height: 100px;
   overflow: auto;
   font: bold 14px/21px var(--fontHero2);
   text-transform: uppercase;
   letter-spacing: .8px;
   margin: 12px 0 20px;
}


.onlinetodaybox {
   height: 8em;
   font: bold 11px/18px var(--fontHero2);
   text-transform: uppercase;
   letter-spacing: .8px;
   margin-bottom: 16px;
   padding: 12px;
}

.onlinetodaybox>div {
   overflow: auto;
   height: 100%;
}

.onlinenowbox a,
.onlinetodaybox a {
   display: inline-block;
   margin-right: 1ch;
   color: hsl(var(--membercolor));
}

.censusdivider[class*=divider] {
   margin-bottom: 8px;
}


.censusdivider[class*=divider] .divider-content::after {
   display: none;
}

.infocenter-census-box {
   display: flex;
   justify-content: space-evenly;
   align-items: stretch;
   gap: 8px
}

.infocenter-census {
   flex: 2 1 0px;
   text-align: center;
   color: hsl(var(--membercolor));
}

.censusvertrule {
   display: block;
   border-right: 1px dotted hsl(var(--strokePrimary));
}


.census-fig {
   font: var(--textHero24);
}

.census-label {
   font: bold 10px/1.4em var(--fontBodySerif);
   text-transform: uppercase;
   letter-spacing: .7px;
   padding: 0 0 4px;
}

.infocenter-totals {
   margin-top: 14px;
   padding-top: 12px;
   justify-content: center;
   align-items: center;
   border-top: 1px dotted hsl(var(--strokePrimary));
}

.infocenter-totals .infocenter-census:not(:last-child) {
   border-right: 1px dotted hsl(var(--strokePrimary));
   padding-right: 8px;
   margin-right: 8px;
}

.infocenter-stat-total {
   font: var(--textHero28);
   padding: 12px 0 6px;
   color: hsl(var(--textSecondary));
}

[class*=divider][class*=arrowhead-2].vertical {
   transform: rotate(90deg);
   width: calc(100% - 40px);
}


.recent-content {
   height: calc(100% - 60px);
   padding: 28px 12px 4px;
   display: grid;
   grid-template-rows: auto 1fr;
   align-items: flex-start;
   background: hsl(var(--bgOverlay));
   z-index: 6;
}

.recent-title {
   font: var(--textHero20);
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: auto;
   color: hsl(var(--accentColor-1));
}

.recent-title::after {
   content: '';
   display: block;
   width: 60px;
   height: 1px;
   background: hsl(var(--mainColor));
   margin: 12px auto 20px;
}

.recent-list {
   overflow: auto;
   height: 100%;
   padding-bottom: 90px;
}

#bodywrapper .recent-list::-webkit-scrollbar {
   width: 2px !important;
}


.recenttopic {
   margin: 0 10px 0 8px;
   padding-bottom: 12px;
   font: bold 12px var(--fontBodySerif);
   color: hsl(var(--bgTertiary));
}

.recenttopic:not(:first-child) {
   border-top: 1px dotted hsl(var(--strokePrimary));
   padding-top: 12px;
}

.recent-threadname::before {
   counter-increment: rt;
   content: counter(rt, decimal-leading-zero);
   content: '';
   font: var(--textSerif14);
   margin-left: -14px;
   float: left;
   color: hsl(var(--textPrimary));
}

a.recent-threadname {
   display: block;
   font: bold 14px var(--fontBodySerif);
   letter-spacing: .5px;
   color: hsl(var(--accentColor-2));
}

a.recent-poster {
   font: 700 14px var(--fontBodySerif);
   letter-spacing: .5px;
   color: hsl(var(--membercolor));
}

a.recent-poster::before {
   content: 'by ';
   font-weight: 400;
   color: hsl(var(--textPrimary));
}

.infocenter-img {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 505px;
   height: 208px;
   z-index: 7;
   pointer-events: none;
   overflow: hidden;
}

.infocenter-img::before,
.infocenter-img::after {
   content: '';
   position: absolute;
   right: -80px;
   bottom: -30px;
   width: 100%;
   height: 100%;
}

.infocenter-img::before {
   background: hsl(var(--bgPrimary));
   mask: url(assets/final-running-fill.png) center / cover no-repeat;
}

.infocenter-img::after {
   background: hsl(var(--lineart));
   mask: url(assets/final-running-stroke.png) center / cover no-repeat;
}






.affiliatesection-rule {
   height: 4px;
   border-bottom: 2px dotted hsl(var(--strokeSecondary));
   margin-bottom: 3px;
}

.affiliatesection {
   padding: 24px;
   display: flex;
   flex-wrap: wrap;
   gap: 13px;
   background: hsl(var(--strokePrimary));
}

.affiliateslot img {
   display: block;
}

















@media only screen and (max-width: 900px) {

   :root {
      --navgradient: hsl(var(--mainColor));

      --textHero20: 20px/1em var(--fontHero);
      --textHero24: 24px/1em var(--fontHero);
      --textHero28: 24px/1em var(--fontHero);
      --textHero32: 28px/1em var(--fontHero);
      --textHero36: 28px/1em var(--fontHero);
      --textHero40: 28px/1em var(--fontHero);
      --textHero52: 40px/1em var(--fontHero);
      --textHero60: 40px/1em var(--fontHero);
      --textHero64: 40px/1em var(--fontHero);

      --mobileinset: 16px;

   }

   .maxwidth {
      min-width: unset;
      padding: 0;
   }


   /* HEADER */

   #header {
      background: linear-gradient(to bottom, hsl(var(--mainColor)), hsl(var(--mainColor)) 80%, transparent 95%)
   }

   .hero-arches {
      left: 0;
      margin: 0 auto;
      z-index: 40;
      opacity: 0;
   }

   .hero-img {
      width: 110%;
      left: -40px;
      background-position: center bottom;
      z-index: 30;
      opacity: .2;
      mix-blend-mode: overlay;
   }

   .hero-colorfield {
      opacity: 0;
   }

   .hero-text {
      z-index: 60;
      margin: 300px auto 0;
      left: 0;
      width: 90%;
      min-width: unset;
      align-items: center;
   }

   h1 {
      width: min(100%, 450px);
      -webkit-text-stroke: .5px hsl(var(--permWhite));
      text-align: center;
   }

   h3 {
      width: min(100%, 450px);
      text-align: center;
      opacity: 1;
   }


   /* NAV PANEL */


   .openmenu .hero-text {
      transform: none;
   }

   .openmenu .hero-img {
      z-index: 30;
      background-position: center bottom;
      mix-blend-mode: overlay;
   }

   #navpanel {
      top: 49px;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0;
      border: none;
      transform-origin: top;
      transform: scale(1, 0);
   }

   #navpanel.openmenu {
      transform: scale(1);
   }

   .navpanel-layout {
      width: 100%;
      height: 100%;
      padding: 24px 16px;
      grid-template: 'content' 100% / 1fr;
      overflow: auto;
   }

   .navpanel-layout * {
      border-color: hsl(var(--strokeSecondary)) !important;
   }

   .navpanel-close {
      display: none;
   }

   .navpanel-left {
      padding: 0;
   }

   .navpanel-right {
      background: unset;
   }

   .navpanel-header {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 0;
   }

   .login-avi img {
      width: 60px;
      height: 60px;
   }

   .navpanel-buttons {
      display: block;
      flex-wrap: wrap;
      margin: 1em 0;
   }

   #subaccounts_menu {
      width: 100%;
   }

   #subaccounts_menu form {
      padding: 0;
   }

   .navpanel-button,
   #subaccounts_menu .forminput {
      display: block;
      border: none;
      padding: 0;
      background: unset;
      border: unset;
   }


   .navpanel-quicklinks {
      display: block;
      padding-bottom: 32px;
      border-top: 1px solid hsl(var(--strokePrimary));
   }

   .mainlinks {
      display: block;
      margin: 1em 0 0;
   }

   .quicklinklabel::after {
      display: none;
   }

   .quicklinkgroup {
      margin-bottom: 1.25em;
   }

   .navpanel-quicklinks a {
      margin-bottom: 10px;
   }

   input.login-name {
      width: 100%;
   }

   .navpanel-hover {
      display: none;
   }


   /* BODY */

   #bodywrapper {
      padding: 0 16px;
   }

   .breadcrumbs {
      display: none;
   }

   .welcomecenter {
      margin-bottom: 64px;
   }

   .welcomecenter-grid {
      grid-template: 'tabs'
         'body' / 100%;
   }

   .welcomecenter-section-tabs {
      flex-direction: row;
      justify-content: center;
      padding: var(--mobileinset);
   }

   .welcomecenter-tab {
      width: 50%;
      height: 40px;
      font: var(--textHero16);
   }

   #welcomecenter-section-tabscontent {
      display: flex;
      flex-direction: row;
      width: 200%;
   }

   #welcomecenter-section-tabscontent[class="active-tab-1"] {
      transform: translateX(-50%);
   }

   .welcomecenter-section-body {
      flex-direction: column;
      width: 100%;
      gap: 24px;
      padding: var(--mobileinset);
      background: hsl(var(--bgSecondary));
   }

   .welcomecenter-blurb {
      max-height: 160px;
   }

   .welcomecenter-linkbox {
      padding-left: 0;
   }




   /* CATEGORY DEFAULTS */
   .lastpost-avi {
      display: none;
   }


   /* CATEGORY: GET STARTED  */

   .cat-getstarted-layout {
      grid-template: 'guidebook'
         'getstartedboards';
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 280px var(--mobileinset) var(--mobileinset);
   }

   .getstarted-hero-img::before,
   .getstarted-hero-img::after {
      mask-position: right;
   }

   .handbooktext {
      width: 100%;
   }

   .cat-getstarted-boards {
      margin: 24px 0 0;
      padding: 28px var(--mobileinset);
      border-top: 1px solid hsl(var(--strokePrimary));
   }

   .cat-getstarted .forumrow:not(:last-child) {
      margin-bottom: 24px;
   }


   /* CATEGORY: CHARACTER */

   .cat-character-layout {
      padding: 30px 16px;
      grid-row-gap: 0;
   }

   .forum-plottinghub {
      grid-template: 'name'
         'lastpost'
         'subforums' / 1fr;
      grid-column-gap: 12px;
      border-bottom: 1px solid hsl(var(--strokePrimary));
   }

   .forum-plottinghub .forumrow-subs {
      padding: 24px 0;
      flex-direction: column;
   }

   .plotdivider {
      display: none !important;
   }


   .plotting-twocol {
      flex-direction: column;
      margin-left: 0;
      background: transparent;
   }

   .plotting-twocol .forumrow,
   .plotting-twocol .forumrow:first-of-type {
      padding: 24px 0 0;
   }

   .plotting-twocol .forumrow:first-of-type::after {
      display: none;
   }

   .cat-character-img {
      display: none;
      grid-area: plottinghub;
   }

   .cat-character-img::before {
      display: none;
      height: 100%;
   }

   .cat-character-imgsizer::before,
   .cat-character-imgsizer::after {
      top: -210px;
      mask-position: 0 30px;
   }

   .cat-character-imgsizer::before {
      background: hsl(var(--bgPrimary));
   }

   .cat-character-imgsizer::after {
      opacity: .3;
   }


   .doublescooped {
      background-image: none;
   }

   .doublescooped::before,
   .doublescooped::after,
   .doublescoopedouter {
      display: none;
   }



   /* CATEGORY: RP PLACES */

   .cat-locations-layout {
      height: 460px;
      height: fit-content;
      padding: 0;
      grid-template: 'placeimage' 200px
         'aboutplace'
         'tabbox';
   }

   .cat-locations-layout .forumrow {
      width: 100%;
   }

   .cat-locations-layout .forumrow:not(:first-child) {
      border-top: 1px solid hsl(var(--strokePrimary));
   }

   .windowframe,
   #windowcontent,
   [class*='location_photo'] {
      border-radius: 0;
      aspect-ratio: unset;
      width: 100%;
      height: 100%;
   }

   .windowframe {
      top: 0;
      right: 0;
      height: 200px;
      transform: none;
   }

   .windowframe::after {
      display: none;
   }

   .windowbricks {
      display: none;
   }

   #windowcontent {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      transform: none;
   }

   .location_info {
      max-width: unset;
      width: 100%;
      padding: 30px 16px;
   }

   .location_info .forumname {
      margin-left: 0;
   }

   .location_info .forumdesc {
      max-width: unset;
      max-height: 80px;
      margin-bottom: 1em;
   }

   .locationtabbox {
      width: 100%;
      padding: 0 16px 24px;
   }

   .locationtabbox .tab {
      min-width: 40%;
   }

   [class*=location_photo] {
      margin: 0;
      border: 0;
      transform: none;
   }


   /* CATEGORY: OOC */

   .cat-ooc-layout {
      padding: 30px 16px;
   }

   .ooc-twocol {
      flex-direction: column;
      gap: 24px;
      background: none;
   }

   .ooc-twocol .forumrow,
   .ooc-twocol .forumrow:first-of-type {
      padding: 0;
   }

   .ooc-twocol .forumrow:first-of-type::after {
      display: none;
   }

   .ooc-hero {
      display: none;
      aspect-ratio: 410/440;
      width: auto;
      height: 150px;
      top: -170px;
      left: 0;
      bottom: unset;
      z-index: 0;
   }

   .ooc-forumrow-subs .scoopedbox::before {
      background: hsl(var(--bgPrimary));
   }


   /* CATEGORY: GENERIC */

   .cat-default .twocolcat {
      flex-direction: column;
   }

   .twocolcat .forumrow {
      width: 100%;
   }

   .forum-default-bg {
      display: none;
   }

   .twocolcat .cat-default-layout {
      padding: 30px 16px 24px;
      grid-row-gap: 8px;
   }

   .twocolcat .cat-default-layout .forumrow {
      grid-template-areas: 'boardinfo'
         'subforums'
   }

   .twocolcat .forumname {
      font: var(--textHero28)
   }

   .twocolcat .cat-default-layout .forumrow-subs a {
      min-width: 200px;
   }



   /* INFOCENTER */

   .cat-infocenter-layout {
      display: grid;
      grid-template-areas: 'main'
         'recentrule'
         'recent'
         'rule'
         'links';
      grid-template-rows: auto;
      grid-template-columns: auto;
   }

   .infocenter-area-links {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 16px 0 24px;
      margin: 0 24px;
      gap: 16px;
      border-right: none;
   }

   .infocenter-area-main {
      padding: 30px 16px;
   }

   .onlinenowbox {
      margin-bottom: 24px;
   }

   .censusdivider[class*=divider] {
      margin-top: 24px;
      margin-bottom: 12px;
   }

   .infocenter-totals .infocenter-census:last-child {
      padding-left: 8px;
   }

   .infocenter-area-recent {
      margin: 20px 16px 24px;
   }

   .recent-content {
      height: auto;
   }

   .recent-list {
      height: 260px;
      padding-bottom: 16px;
   }

   .infocenter-img {
      display: none;
   }

   .linksdivider[class*=divider] {
      display: flex;
      flex-direction: row;
      margin: 8px 16px -12px !important;
      width: calc(100% - 32px);
   }

   .linksdivider[class*=divider][class*=arrowhead-2]::after {
      transform: none;
      display: block;
   }

   .linksdivider[class*=divider][class*=arrowhead-2]::before {
      transform: rotate(0) scaleX(-1);
      display: block;
   }

   .linksdivider[class*=divider] .divider-content {
      height: 1px;
      width: calc(100% - 32px);
   }

   .infocenter-link-icon {
      height: 36px;
   }

}